/* Header Form Style */
#header{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 50px;
	background-color: #ccc;
}
/*Form*/
#header_wrap #form_one{
	background: rgba(255,255,255,0.5);
	width: 100%!important;
	padding: 20px;
	padding-right: 10px!important;
	padding-bottom: 10px!important;
}
#header_wrap #form_one form .row{
	margin-bottom: 10px;
}
#header #form_one form input, form select{
	width: 17%!important;
	float: left;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
	border: 0px!important;
	margin-left: 10px;
}
#header #form_one form .btn{
	background: #3a9bfa;
	color: #fff;
	width: 15%;
	display: inline-block!important;
	margin-left: 10px;
}
#header #form_one form #detail_search{
	padding: 0px!important;
	width: auto!important;
	background-color: rgba(0,0,0,0)!important;
	color: #000!important;
	display: inline-block!important;
	text-decoration: none!important;
	outline: none!important;
	margin-left: 10px;
}
#header #form_one form .collapse input,#header #form_one form .collapse select,#header #form_one form .collapse .btn{
	margin-bottom: 10px;
}

#header #form_one form #flatmate_dropdown{
	width: 12%!important;
	background: rgba(0,0,0,0)!important;
	padding-left: 30px;
}


/* Shwo Map CSS Style! */
#show_map{
	width: 100%;
	padding: 1px;
}
#show_map .col-md-8 #bg_group{
	width: 80%;
	margin: 0 auto;
}
#show_map .col-md-8 #bg_group .btn{
	color: #fff;
	background: #ccc;
}
#show_map .col-md-8 #bg_group .active{
	background: #3a9bfa!important;
	color: #fff!important;
}
/* Sort By */
#show_map .col-md-2 small{
	float: left;
	margin-top: 5px;
	display: inline-block;
}
#show_map .col-md-2 select{
	width: 50%;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
	border: 0px!important;
	float: left;
}
/* Show Map Toggle CSS Style */
#showmap_toggle_select{
	list-style: none;
	margin-top: 5px;
}
#showmap_toggle_select li{
	display: inline-block!important;
}
#showmap_toggle_select li span{
	background: #fff!important;
	padding: 4px;
}
#showmap_toggle_select li span a{
	outline: none!important;
	text-decoration: none!important;
	font-size: 12px;
	color: #000!important;
}
#showmap_toggle_select li span .selected_map{
	background: #3a9bfa!important;
	padding: 2px;
	color: #fff!important;
}


/* Flatmate CSS! */
#flatmate{
	width: 100%;
	padding: 50px 0px 50px 0px;
	background: #f2f2f2;
	margin-top: -52px!important;
}
#flatmate .row{
	margin-bottom: 20px;
}

#flatmate .row .col-md-3 a{
	outline: none!important;
	color: #000!important;
	text-decoration: none!important;
	position: relative;
}
#flatmate .row .col-md-3 a #recent_item{
	background-color: white;
	width: 98%;
	padding: 0px 0px 20px 0px;
	margin:0 auto!important;
	border-radius: 5px;
	box-shadow: 2px 4px 8px rgba(0,0,0,0.3);
}
#flatmate .row .col-md-3 a #recent_item img{
	width: 100%;
	height: 200px;
	border-radius: 5px;
	border-bottom-left-radius: 0px!important;
	border-bottom-right-radius: 0px!important;
}
#flatmate .row .col-md-3 a #recent_item #recent_text_wrap{
	width: 90%;
	margin: 0 auto;
	margin-top: 15px;
}
#flatmate .row .col-md-3 a #recent_item #recent_text_wrap h4{
	font-size: 14px;
	font-weight: bold;
}
#flatmate .row .col-md-3 a #recent_item #recent_text_wrap small{
	color: #3a9bfa;
}
#flatmate .row .col-md-3 a #recent_item #recent_text_wrap strong{
	display: block;
	margin-top: 10px;
	font-size: 13px;
}
#flatmate .row .col-md-3 a #recent_item #recent_text_wrap span{
	display: block;
	margin-top: 10px;
	font-size: 13px;
}
#flatmate .row .col-md-3 a #recent_item #recent_text_wrap i{
	font-size: 14px;
	margin-top: 15px;
	display: inline-block;
	margin-right: 8px;
}
#flatmate .row .col-md-3 a #recent_item #recent_text_wrap i:last-child{
	margin-right: 0px!important;
}

#flatmate .row .col-md-3 a #recent_item #recent_text_wrap .btn{
	float: right;
	margin-top: 10px;
}

/* Page Pagination */
.page{
	display: none;
}
.page-active{
	display: block;
}
#flatmate #pagination-demo{
	margin-top: 30px!important;
}
#flatmate .pagination > li > a{
	background: #ccc!important;
}
#flatmate .pagination > .active > a{
	background: #3a9bfa!important;
	border-color: rgba(255,255,255,0)!important;
}


/* App Section CSS! */
#app{
	width: 100%;
	padding: 60px;
	position: relative;
}

#app a:first-child{
	outline: none;
	text-decoration: none;
	display: block;
	position: absolute;
	top: 50%;
	left: 43%;
	transform: translate(-50%,-50%);
}
#app a:last-child{
	outline: none;
	text-decoration: none;
	display: block;
	position: absolute;
	top: 50%;
	right: 43%;
	transform: translate(50%,-50%);
}
#app img{
	width: 150px;
	height: 50px;
}



/* Media Queries!!! */
@media screen and (max-width: 1228px){

	/* Header Form Style */
	/*Form One*/
	#header_wrap #form_one{
		width: 100%;
		padding: 12px 15px 8px 15px;
	}
	#header #form_one form input, form select{
		width: 100%!important;
		margin-bottom: 5px;
	}

	#header #form_one form #flatmate_dropdown{
		width: 100%!important;
		margin-bottom: 5px;
		padding-left: 10px;
	}

	#header #form_one form .btn{
		width: 100%!important;
	}

	#header #form_one form #detail_search,#header #form_one form #search_place{
		margin-bottom: 5px;
	}
	#header #form_one form .collapse input,#header #form_one form .collapse select,#header #form_one form .collapse .btn{
		margin-bottom: 5px;
	}

	#show_map .map_toggle{
		display: none;
	}
	#show_map .col-md-8{
		display: none;
	}

	#flatmate{
		margin-top: -45px!important;
	}

}

@media screen and (max-width: 499px){
	

	#show_map .col-md-2 select{
		width: 25%!important;
	}

	/* App Section CSS! */
	#app{
		padding: 50px;
	}

	#app a:first-child{
		position: absolute;
		top: 50%;
		left: 35%!important;
		transform: translate(-50%,-50%);
	}
	#app a:last-child{
		position: absolute;
		top: 50%;
		right: 35%!important;
		transform: translate(50%,-50%);
	}
	#app img{
		width: 90px!important;
		height: 30px!important;
	}

	/* Flatmate */
	#flatmate{
		margin-top: -45px!important;
	}
	#flatmate .row .col-md-3 a #recent_item #recent_text_wrap h4{
		font-size: 13px!important;
	}
	#flatmate .row .col-md-3 a #recent_item #recent_text_wrap span{
		font-size: 12px!important;
	}
	#flatmate .row .col-md-3 a #recent_item #recent_text_wrap i{
		font-size: 12px!important;
	}
	#flatmate .row .col-md-3 #myModal .modal-body .schedule .col-md-6{
		margin-bottom: 120px!important;
	}

}