/* Header Form Style */
#header{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 50px;
	background-color: #ccc;
}

/*Form*/
#header_wrap #form_one{
	background: rgba(255,255,255,0.5);
	width: 100%!important;
	padding: 20px;
	padding-right: 10px!important;
	padding-bottom: 10px!important;
}
#header_wrap #form_one form .row{
	margin-bottom: 10px;
}
#header #form_one form input, form select{
	width: 17%!important;
	float: left;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
	border: 0px!important;
	margin-left: 10px;
}
#header #form_one form .btn{
	background: #3a9bfa;
	color: #fff;
	width: 15%;
	display: inline-block!important;
	margin-left: 10px;
}
#header #form_one form .collapse input,#header #form_one form .collapse select,#header #form_one form .collapse .btn{
	margin-bottom: 10px;
}

#header #form_one form #job_dropdown{
	width: 10%!important;
	background: rgba(0,0,0,0)!important;
	padding-left: 30px;
}

/* Navigation CSS! */
nav li .dropdown-menu{
	background: #3a9bfa!important;
	border: 0px!important;
	width: 350px;
}
nav li .dropdown-menu li{
	border-bottom: 1px solid #ccc!important;
	padding: 10px;
}
nav li .dropdown-menu li a{
	font-weight: bold;
}
nav li .dropdown-menu li small{
	font-size: 10px!important;
	padding-left: 20px!important;
	padding-top: 10px;
}
nav li .dropdown-menu li:last-child{
	border-bottom: 0px!important;
}
nav li .dropdown-menu li:hover a{
	background-color: #ccc!important;
}

nav li sub{
	font-size: 16px!important;
	display: inline-block!important;
	margin-right: -5px!important;
}
nav li sup{
	width: 14px;
	height: 14px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 14px;
	border-radius: 25px;
	background: red;
	display: inline-block!important;
}
nav li:last-child a img{
	width: 25px;
	height: 25px;
	border-radius: 25px;
	display: inline-block;
}


/* Shwo Map CSS Style! */
#show_sort{
	width: 100%;
	padding: 1px;
}
#show_sort .col-md-10 #bg_group .btn{
	color: #fff;
	background: #ccc;
	float: right;
	margin-left: 5px;
}
#show_sort .col-md-10 #bg_group .active{
	background: #3a9bfa!important;
	color: #fff!important;
}
/* Sort By */
#show_sort .col-md-2 small{
	float: left;
	margin-top: 5px;
	display: inline-block;
}
#show_sort .col-md-2 select{
	width: 50%;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
	border: 0px!important;
	float: left;
}

/* This class is added on scroll */
#body{
	width: 100%;
	margin-top: 1px;
}
#body .container #fix_position{
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 10px;

}
#body .container .col-md-8{
	background-color: #fff;
	float: right!important;
	border-left: 8px solid #f2f2f2;
	padding: 30px;
	margin-bottom: 20px;
}
.fixed {
	position: fixed!important;
	top: 50px!important;
	padding-right: 85px!important;
}

/*Job Wrap Tab*/
#body #job_wrap{
	display: block;
	outline: none;
	text-decoration: none;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	position: relative;
	padding: 10px;
}
#body .active_tab{
	border-left: 2px solid #3a9bfa;
}
#body #job_wrap img{
	width: 75px;
	height: 75px;
}
#body #job_wrap .row .col-md-9 ul{
	list-style: none;
	float: left;
	color: #666!important;
}
#body #job_wrap .row .col-md-9 ul .position{
	font-weight: bold!important;
}
#body #job_wrap .row .col-md-9 ul li span, small{
	margin-left: 12px;
}
/*Job Detail Section*/
#body #job_detail .row{
	padding-top: 15px;
	padding-bottom: 15px;
}
/*First Row*/
#body #job_detail #first_row{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body #job_detail #first_row .col-md-6 img{
	width: 80px;
	height: 80px;
	float: left;
}
#body #job_detail #first_row .col-md-6:first-child ul{
	list-style: none;
	float: left;
}
#body #job_detail #first_row .col-md-6:first-child ul li:first-child{
	font-weight: bold;
}
#body #job_detail #first_row .col-md-6:last-child  ul{
	list-style: none;
	float: right;
}
#body #job_detail #first_row .col-md-6:last-child  ul li .job_type_btn{
	background-color: #3a9bfa!important;
	color: #fff!important;
	float: right;
}
#body #job_detail #first_row .col-md-6:last-child  ul li form .apply_btn{
	background-color: #3a9bfa!important;
	color: #fff!important;
}
#body #job_detail #first_row .col-md-6:last-child  ul li form .save_btn{
	background-color: #3a9bfa!important;
	color: #fff!important;
}
#body #job_detail #first_row .col-md-6 small{
	display: inline-block!important;
	float: right;
	margin-bottom: 25px;
	margin-top: 5px;
}
/*Secon Row!*/
#body #job_detail #second_row{
	padding-top: 25px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body #job_detail #second_row ul{
	list-style: none;
}
#body #job_detail #second_row ul li:first-child{
	font-weight: bold;
}
#body #job_detail #second_row ul li:last-child{
	margin-left: 30px;
	margin-top: 5px;
}
#body #job_detail #second_row ul li i{
	margin-right: 7px;
	font-size: 18px;
}
#body #job_detail #second_row .col-md-4{
	margin-bottom: 10px;
}
/*Third Row!*/
#body #job_detail #third_row{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body #job_detail #third_row h4{
	font-weight: bold;
}
/*Fourth Row*/
#body #job_detail #fourth_row{
	padding-top: 25px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body #job_detail #fourth_row form input{
	margin-bottom: 10px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
}
#body #job_detail #fourth_row form span{
	float: left;
	display: inline-block;
	margin-top: 7px;
	margin-right: 5px;
}
#body #job_detail #fourth_row form .cv{
	width: 33%!important;
	float: left;
}
/*Fith Row*/
#body #job_detail #fith_row .btn{
	background: #3a9bfa!important;
	color: #fff!important;
}
#body #job_detail #fith_row strong{
	font-size: 18px;
}


/* Page Pagination */
.page{
	display: none;
}
.page-active{
	display: block;
}
#body #pagination-demo{
	margin-top: 30px!important;
}
#body .pagination > li > a{
	background: #ccc!important;
}
#body .pagination > .active > a{
	background: #3a9bfa!important;
	border-color: rgba(255,255,255,0)!important;
}



/* Media Queries!!! */
@media screen and (max-width: 1228px){
	/* Header Form Style */
	/*Form One*/
	#header_wrap #form_one{
		width: 100%;
		padding: 12px 15px 8px 15px;
	}
	#header #form_one form input, form select{
		width: 100%!important;
		margin-bottom: 5px;
	}

	#header #form_one form #job_dropdown{
		width: 100%!important;
		margin-bottom: 5px;
		padding-left: 10px;
	}

	#header #form_one form .btn{
		width: 100%!important;
	}

	#header #form_one form #detail_search,#header #form_one form #search_job{
		margin-bottom: 5px;
	}
	#header #form_one form .collapse input,#header #form_one form .collapse select,#header #form_one form .collapse .btn{
		margin-bottom: 5px;
	}

	#show_sort .map_toggle{
		display: none;
	}
	#show_sort .col-md-10{
		display: none;
	}
}

@media screen and (max-width: 499px){
	/* Navigation CSS! */
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	    color: #555;
	    background-color: rgba(0,0,0,0)!important;
	}
	nav #language_toggle_select{
		margin-left: 0px!important;
	}
	nav li .dropdown-menu{
		width: 100%!important;
	}
	nav li .dropdown-menu li{
		border-bottom: 0px solid #ccc!important;
	}
	nav li .dropdown-menu li a{
		font-weight: bold;
		border-bottom: 1px solid rgba(255,255,255,0.2)!important;
	}
	nav li .dropdown-menu li small{
		padding-left: 24px!important;
	}

	/* App Section CSS! */
	#app{
		padding: 50px;
	}

	#app a:first-child{
		position: absolute;
		top: 50%;
		left: 35%!important;
		transform: translate(-50%,-50%);
	}
	#app a:last-child{
		position: absolute;
		top: 50%;
		right: 35%!important;
		transform: translate(50%,-50%);
	}
	#app img{
		width: 90px!important;
		height: 30px!important;
	}

	#show_sort .col-md-2 select{
		width: 25%!important;
	}
}