/* Main CSS Style Sheet! */

/* Body CSS Stye */
body{
	margin: 0px!important;
	padding: 0px!important;
	width: 100%!important;
	height: 100vh!important;
	background-color: #f2f2f2!important;
	font-family: 'Montserrat', sans-serif!important;
}

* > a{
	color: #fff!important;
}

/* Navigation CSS Style */
nav > *{
	color: #fff!important;
}
nav{
	width: 100%;
	margin: 0px!important;
}
.navbar{
	border-radius: 0px!important;
	background-color: #3a9bfa!important;
	border-bottom: 1px solid rgba(0,0,0,0)!important;
}
.navbar-header a{
	line-height: 50px!important;
	margin-left: 30px!important;
}
.navbar-header a img{
	width: 30px;
	height: 30px;
}
.navbar-right{
	margin-right: 30px!important;
}
.navbar .container-fluid .nav .active a{
	background-color: rgba(0,0,0,0)!important;
}

.navbar-default .navbar-toggle{
	border: 1px solid rgba(0,0,0,0)!important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: rgba(0,0,0,0)!important;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff!important;
}

/* Language Toggle CSS Style */
#language_toggle_select{
	margin-right: 15px!important;
}
#language_toggle_select li{
	line-height: 50px!important;
}
#language_toggle_select li span{
	background: #fff!important;
	padding: 4px;
}
#language_toggle_select li span a{
	outline: none!important;
	text-decoration: none!important;
	font-size: 12px;
	color: #000!important;
}
#language_toggle_select li span .selected_language{
	background: #3a9bfa!important;
	padding: 2px;
	color: #fff!important;
}


/* Download App CSS Style */
#download_app{
	width: 100%;
	height: 85vh;
	background-size: cover;
	background-image: url('../images/download_app.png');
	margin: 0px!important;
	position: relative!important;
}
#download_app .container #store{
	width: 30%;
	height: 100px;
	line-height: 100px;
	position: absolute!important;
	left: 35%;
	top: 60%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%)!important;
	-ms-transform: translate(-50%,-50%)!important;
	-moz-transform: translate(-50%,-50%)!important;
	-o-transform: translate(-50%,-50%)!important;
}
#download_app .container #store .col-md-6 img{
	width: 150px;
	height: 50px;
}


/* Body Section CSS Style! */
#body{
	width: 100%;
}
#body .row{
	margin-top: 60px;
}
#body .row:last-child{
	margin-top: 50px!important;
}
#body .row h3{
	font-weight: bold;
	text-align: center;
	color: #3a9bfa;
	position: relative;
	z-index: 100;
	margin-bottom: 60px;
}
#body h3::before{
	content: "";
	display: block;
	position: absolute;
	width: 80px;
	height: 1px;
	background: #3a9bfa;
	margin-top: 35px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%)!important;
	-ms-transform: translate(-50%,-50%)!important;
	-moz-transform: translate(-50%,-50%)!important;
	-o-transform: translate(-50%,-50%)!important;
}

#body .container ul{
	list-style: none;
	margin-left: -17px!important;
}
#body .container ul li{
	float: left;
	cursor: pointer;
	padding: 10px;
	background: #fff;
	color: #000;
}
#body .container ul li:nth-child(2){
	margin-left: 4px;
	margin-right: 4px
}

#body .container #body_img_wrap{
	background: green;
	padding: 0px;
}
#body .container #panel_wrap{
	margin: 0 auto!important;
	width: 90%;
	background-color: purple;
}
#body .container #panel_wrap #how_works_panel_place, #how_jobs_panel_place, #how_page_panel_place{
	clear: both;
	background: red;
	width: 480px;
	height: 300px;
	margin: 0 auto;
}
#body .container #panel_wrap #how_works_panel_jobs, #how_jobs_panel_jobs, #how_page_panel_jobs{
	display: none;
	background-color: lime;
	clear: both;
	width: 480px;
	height: 300px;
	margin: 0 auto;
}
#body .container #panel_wrap #how_works_panel_flatmate, #how_jobs_panel_flatmate, #how_page_panel_flatmate{
	display: none;
	background-color: skyblue;
	clear: both;
	width: 480px;
	height: 300px;
	margin: 0 auto;
}

#body .container #panel_wrap #how_works_place{
	background: #3a9bfa;
	color: #fff;
}

#body .container #panel_wrap a{
	outline: none!important;
}
#body .container #panel_wrap a img{
	width: 480px;
	height: 300px;
}

#body .container #body_text_wrap h4{
	color: #3a9bfa;
	font-weight: bold;
	margin-bottom: 30px;
}
#body .container #body_text_wrap p{
	text-align: justify;
	margin-bottom: 30px;
}

/* Footer Section CSS Style! */
#footer{
	width: 100%;
	background: #3e3c3c;
	padding: 15px;
	color: #fff;
}
#footer .container #footer_text_wrap{
	width: 90%;
	height: 130px;
	margin: 0 auto;
}
#footer #footer_text_wrap .row .col-md-2{
	height: 130px;
	line-height: 130px;
	text-align: right;
	border-right: 1px solid orange;
}
#footer #footer_text_wrap .row .col-md-2 p{
	font-size: 18px;
	margin-right: 20px;
}
#footer #footer_text_wrap .row .col-md-4 ul{
	margin-top: 7px;
	list-style: none;
	margin-left: -20px!important;
}
#footer #footer_text_wrap .row .col-md-4 ul li a{
	font-size: 12px;
	text-decoration: none!important;
}
#footer #footer_text_wrap .row .col-md-4 .about_text{
	margin-top: 40px;
	margin-left: 20px!important;
	font-size: 14px;
}

/* Copyright Section CSS Style */
#copyright{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #000;
	color: #fff;
}