/* Header Form Style */
#header{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 50px;
	background-color: #ccc;
}

/* Navigation CSS! */
nav li sub{
	font-size: 16px!important;
	display: inline-block!important;
	margin-right: -5px!important;
}
nav li sup{
	width: 14px;
	height: 14px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 14px;
	border-radius: 25px;
	background: red;
	display: inline-block!important;
}
nav li:last-child a img{
	width: 25px;
	height: 25px;
	border-radius: 25px;
	display: inline-block;
}


/* Body Section CSS! */
#body{
	width: 100%;
}
#body .container-fluid #fix_position{
	margin-top: 50px;
	height: 100vh;
	position: fixed;
	padding-top: 20px;
	padding-bottom: 20px;
}
#body .container-fluid .col-md-10{
	width: 82%;
	margin-top: 60px;
	float: right!important;
}
/*Body Sidebar*/
#body #sidebar_wrap:first-child{
	display: block;
	outline: none;
	text-decoration: none;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	position: relative;
	padding: 8px 5px 8px 10px;
}
#body #sidebar_wrap{
	display: block;
	outline: none;
	text-decoration: none;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	position: relative;
	padding: 10px 5px 10px 10px;
}
#body #sidebar_wrap a{
	text-decoration: none!important;
	outline: none!important;
	color: #666!important;
}
#body .active_tab{
	border-left: 2px solid #3a9bfa;
}
#body #sidebar_wrap img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
#body #sidebar_wrap .row .col-md-9 ul{
	list-style: none;
	float: left;
	color: #666!important;
	margin-left: -28px;
	font-size: 12px;
}
#body #sidebar_wrap .row .col-md-9 ul li strong{
	margin-left: 8px;
	font-size: 15px;
	margin-top: 11px!important;
	display: block;
}

#body #sidebar_wrap .row .col-md-12 ul{
	list-style: none;
	float: left;
	color: #666!important;
	margin-left: -28px;
	font-size: 12px;
}
#body #sidebar_wrap .row .col-md-12 ul li strong{
	font-size: 14px;
	margin-bottom: 15px;
	display: block;
}
#body #sidebar_wrap .row .col-md-12 ul li{
	margin-bottom: 10px;
}
#body #sidebar_wrap .row .col-md-12 ul li:last-child{
	margin-bottom: 0px!important;
}
#body #sidebar_wrap .row .col-md-12 ul li span{
	margin-left: 12px;
	font-size: 13px;
	font-weight: bold;
}
#body #sidebar_wrap .row .col-md-12 ul li i{
	font-size: 16px;
}
/* Cover Row */
#body .container-fluid .col-md-10 .first_row #cover{
	width: 100%;
	height: 220px;
	background: #fff;
	position: relative;
}
#body .container-fluid .col-md-10 .first_row #cover img{
	width: 100px;
	height: 100px;
	border-radius: 4px;
}
#body .container-fluid .col-md-10 .first_row #cover .cover_wrap{
	width: 200px;
	height: 100px;
	padding-right: 10px;
	position: absolute;
	bottom: 0%;
	margin-left: 10px;
	margin-bottom: 10px;
}
#body .container-fluid .col-md-10 .first_row #cover .cover_wrap strong{
	display: inline-block;
	margin-left: 7px;
	position: absolute;
	bottom: 0%;
	font-size: 14px;
	color: #333;
}
/* Nav Wrap */
#body .container-fluid .col-md-10 .first_row #nav_wrap{
	background: #fff;
	width: 100%;
	height: 50px;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul{
	list-style: none;
	line-height: 50px;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul a{
	text-decoration: none;
	outline: none;
	color: #000!important;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul li{
	display: inline-block;
	margin-right: 15px;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul li i{
	color: #666!important;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul .btn{
	color: #fff!important;
	margin-right: 10px;
	margin-top: 10px;
}
/*Second Row!*/
#body .container-fluid .col-md-10 .second_row{
	margin-top: 5px;
	padding: 10px;
	background: #fff;
}

#body .container-fluid .col-md-10 .second_row #left-section{
	padding-left: 20px;
	padding-right: 20px;
}
#body .container-fluid .col-md-10 .second_row #right-section{
	padding-left: 20px;
	padding-right: 20px;
}
#body .container-fluid .col-md-10 .second_row #left-section a{
	text-decoration: none;
	outline: none;
	color: #000!important;
}
#body .container-fluid .col-md-10 .second_row #left-section .left_first_row, #body .container-fluid .col-md-10 .second_row #left-section .left_second_row, #body .container-fluid .col-md-10 .second_row #left-section .left_third_row,#body .container-fluid .col-md-10 .second_row #left-section .left_fourth_row, #body .container-fluid .col-md-10 .second_row #left-section .left_fith_row{
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-top: 20px;
}
#body .container-fluid .col-md-10 .second_row #left-section .left_fith_row{
	border-bottom: 0px solid rgba(0,0,0,0.1)!important;
}
#body .container-fluid .col-md-10 .second_row #left-section .left_first_row .row, #body .container-fluid .col-md-10 .second_row #left-section .left_second_row .row, #body .container-fluid .col-md-10 .second_row #left-section .left_third_row .row, #body .container-fluid .col-md-10 .second_row #left-section .left_fourth_row .row, #body .container-fluid .col-md-10 .second_row #left-section .left_fith_row .row{
	margin-bottom: 10px;
}

#body .container-fluid .col-md-10 .second_row #left-section .left_third_row h4,#body .container-fluid .col-md-10 .second_row #left-section .left_fourth_row h4, #body .container-fluid .col-md-10 .second_row #left-section .left_fith_row h4{
	font-weight: bold;
	margin-bottom: 15px;
	font-size: 16px;
}

#body .container-fluid .col-md-10 .second_row #right-section .right_first_row, #body .container-fluid .col-md-10 .second_row #right-section .right_second_row{
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-top: 20px;
}
#body .container-fluid .col-md-10 .second_row #right-section .right_second_row{
	border-bottom: 0px solid rgba(0,0,0,0.1)!important;
}
#body .container-fluid .col-md-10 .second_row #right-section .right_first_row h4,#body .container-fluid .col-md-10 .second_row #right-section .right_second_row h4{
	font-weight: bold;
	margin-bottom: 15px;
	font-size: 16px;
}
#body .container-fluid .col-md-10 .second_row #right-section .right_second_row #bg_group{
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
}
#body .container-fluid .col-md-10 .second_row #right-section .right_first_row p{
	text-align: justify;
}
#body .container-fluid .col-md-10 .second_row #right-section .right_second_row #bg_group .btn{
	color: #fff!important;
	background: #3a9bfa!important;
	margin-bottom: 5px;
}
/*Third Row!JOB Search Input!*/
#body .container-fluid .col-md-10 .third_row{
	margin-top: 5px;
	display: none;
}
#body .container-fluid .col-md-10 .third_row #job_form{
	width: 100%!important;
	padding: 20px;
	padding-right: 10px!important;
	padding-bottom: 20px!important;
}
#body .container-fluid .col-md-10 .third_row #job_form form input{
	width: 48%!important;
	float: left;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
	border: 0px!important;
	margin-left: 10px;
}
#body .container-fluid .col-md-10 .third_row #job_form form .btn{
	background: #3a9bfa;
	color: #fff;
	width: 20%;
	display: inline-block!important;
	margin-left: 10px;
}
#body .container-fluid .col-md-10 .third_row #job_form form #job_dropdown{
	width: 15%!important;
	background: rgba(0,0,0,0)!important;
	padding-left: 30px;
	float: left;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
	border: 0px!important;
}
/*Fourth Row!JOB Tab Section!*/
#body .container-fluid .col-md-10 .fourth_row{
	padding: 20px;
	background: #fff;
	padding-top: 30px;
	padding-left: 30px;
	display: none;
}
#body .container-fluid .col-md-10 .fourth_row a{
	text-decoration: none;
	outline: none;
	display: block;
	color: #000!important;
}
#body .container-fluid .col-md-10 .fourth_row a .col-md-4{
	padding: 10px;
	width: 32%;
	margin-right: 10px;
	border-radius: 8px;
	border: 1px solid rgba(0,0,0,0.3);
	margin-bottom: 10px;
}
#body .container-fluid .col-md-10 .fourth_row a .col-md-4:nth-child(3),#body .container-fluid .col-md-10 .fourth_row a .col-md-4:nth-child(6){
	margin-right: 0px!important;
}

#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-3 img{
	width: 60px;
	height: 60px;
	border-radius: 60px;
}
#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-9{
	padding: 0px!important;
}
#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-9 ul{
	list-style: none;
	margin-left: -12px;
}
#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-9 ul .position{
	font-weight: bold!important;
}
#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-9 ul li span, small{
	margin-left: 12px;
}
#body .container-fluid .col-md-10 .fourth_row .btn{
	width: 180px!important;
	display: block!important;
	background: #3a9bfa!important;
	margin: 0 auto!important;
	color: #fff!important;
	margin-top: 15px!important;
}




/* Media Queries!!! */
@media screen and (max-width: 1228px){

	/* Navigation CSS! */
	nav #language_toggle_select{
		margin-left: 0px!important;
	}

	/*Third Row!JOB Search Input!*/
	#body .container-fluid .col-md-10 .third_row #job_form form input{
		width: 48%!important;
	}
	#body .container-fluid .col-md-10 .third_row #job_form form .btn{
		width: 20%;
	}
	#body .container-fluid .col-md-10 .third_row #job_form form #job_dropdown{
		width: 24%!important;
	}
	/*Fourth Row!JOB Tab Section!*/
	#body .container-fluid .col-md-10 .fourth_row a .col-md-4{
		width: 100%;
	}
	#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-3 img{
		width: 50px;
		height: 50px;
		border-radius: 50px;
		float: left;
	}
	#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-9 ul{
		width: 80%;
		float: right;
	}

}


@media screen and (max-width: 499px){

	/* Navigation CSS! */
	nav #language_toggle_select{
		margin-left: 0px!important;
	}

	/* Body Section CSS */
	#body .container-fluid #fix_position{
		margin-top: 50px;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
		padding-bottom: 5px;
		margin-left: -15px;
		z-index: 1000;
	}
	#body .container-fluid .col-md-10{
		width: 93%;
		margin-top: 55px;
	}
	/*Body Sidebar*/
	#body #sidebar_wrap:first-child{
		display: none!important;
	}
	#body #sidebar_wrap{
		padding: 0px;
		border-bottom: 0px solid rgba(0,0,0,0.1)!important;
	}
	#body #sidebar_wrap ul{
		margin: 0px!important;
		padding: 0px!important;
	}
	#body #sidebar_wrap ul li span{
		display: none!important;
	}
	#body #sidebar_wrap ul li strong{
		display: none!important;
	}

	/*Cover Wrap*/
	#body .container-fluid .col-md-10 .first_row #cover{
		height: 200px;
	}
	/* Nav Wrap */
	#body .container-fluid .col-md-10 .first_row #nav_wrap ul a{
		font-size: 10px!important;
	}
	#body .container-fluid .col-md-10 .first_row #nav_wrap ul li i{
		font-size: 12px!important;
	}

	#body .container-fluid .col-md-10 .second_row #left-section strong, #body .container-fluid .col-md-10 .second_row #right-section strong{
		margin-bottom: 10px;
		display: block;
	}
	#body .container-fluid .col-md-10 .second_row #left-section span, #body .container-fluid .col-md-10 .second_row #right-section span{
		margin-bottom: 15px;
		display: block;
	}
	#body .container-fluid .col-md-10 .second_row #left-section a, #body .container-fluid .col-md-10 .second_row #right-section a{
		margin-bottom: 15px;
		display: block;
	}

	/*Third Row!JOB Search Input!*/
	#body .container-fluid .col-md-10 .third_row #job_form{
		padding: 0px!important;
		padding-top: 10px!important;
		padding-bottom: 10px!important;
	}
	#body .container-fluid .col-md-10 .third_row #job_form form input{
		width: 30%!important;
		font-size: 12px!important;
	}
	#body .container-fluid .col-md-10 .third_row #job_form form .btn{
		width: 22%;
		font-size: 12px!important;
	}
	#body .container-fluid .col-md-10 .third_row #job_form form #job_dropdown{
		width: 25%!important;
		font-size: 12px!important;
	}
	/*Fourth Row!JOB Tab Section!*/
	#body .container-fluid .col-md-10 .fourth_row a .col-md-4{
		width: 100%;
	}
	#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-3 img{
		width: 50px;
		height: 50px;
		border-radius: 50px;
		float: left;
	}
	#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-9 ul{
		width: 70%!important;
		float: right;
	}

}