/* Header Form Style */
#header{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 50px;
	background-color: #ccc;
}


/* Sub Navigation Bar CSS! */
#sub_nav{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #fff;
	margin-top: 50px;
	position: fixed;
	z-index: 100;
}
#sub_nav ul:first-child{
	margin-left: 14px;
}
#sub_nav ul{
	list-style: none;
	float: left;
}
#sub_nav ul li{
	display: inline-block;
	margin-right: 22px;
}
#sub_nav ul li a{
	text-decoration: none;
	outline: none;
	color: #000!important;
	font-size: 12px;
}

#sub_nav ul:last-child{
	float: right;
}


/* Body Section CSS! */
#body{
	width: 100%;
}
#body .container-fluid #fix_position{
	margin-top: 90px;
	height: 100vh;
	position: fixed;
	padding-top: 20px;
	padding-bottom: 20px;
}
#body .container-fluid .col-md-10{
	width: 82%;
	margin-top: 60px;
	float: right!important;
}

/*Body Sidebar*/
#body #sidebar_wrap{
	display: block;
	outline: none;
	text-decoration: none;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	position: relative;
	padding: 10px 5px 10px 10px;
}
#body #sidebar_wrap a{
	text-decoration: none!important;
	outline: none!important;
	color: #666!important;
}
#body #sidebar_wrap img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

#body #sidebar_wrap .row .col-md-12 ul{
	list-style: none;
	float: left;
	color: #666!important;
	margin-left: -28px;
	font-size: 12px;
}
#body #sidebar_wrap .row .col-md-12 ul li strong{
	font-size: 14px;
	margin-bottom: 15px;
	display: block;
}
#body #sidebar_wrap .row .col-md-12 ul li{
	margin-bottom: 10px;
}
#body #sidebar_wrap .row .col-md-12 ul li:last-child{
	margin-bottom: 0px!important;
}
#body #sidebar_wrap .row .col-md-12 ul li span{
	margin-left: 12px;
	font-size: 12px;
	font-weight: bold;
}
#body #sidebar_wrap .row .col-md-12 ul li i{
	font-size: 16px;
}

/* Cover Row */
#body .container-fluid .col-md-10 .first_row{
	margin-top: 50px;
}
#body .container-fluid .col-md-10 .first_row #cover{
	width: 100%;
	height: 220px;
	background: #fff;
	position: relative;
}
#body .container-fluid .col-md-10 .first_row #cover img{
	width: 100px;
	height: 100px;
	border-radius: 4px;
}
#body .container-fluid .col-md-10 .first_row #cover .cover_wrap{
	width: 200px;
	height: 100px;
	padding-right: 10px;
	position: absolute;
	bottom: 0%;
	margin-left: 10px;
	margin-bottom: 10px;
}
#body .container-fluid .col-md-10 .first_row #cover .cover_wrap strong{
	display: inline-block;
	margin-left: 7px;
	position: absolute;
	bottom: 0%;
	font-size: 14px;
	color: #333;
}
#body .container-fluid .col-md-10 .first_row #cover .cover-btn{
	padding: 4px 8px 4px 8px!important;
	font-size: 12px!important;
	position: absolute;
	z-index: 100;
	right: 1%;
	bottom: 5%;
}
#body .container-fluid .col-md-10 .first_row #cover .cover_wrap .btn{
	font-size: 8px;
	padding: 2px 4px 2px 4px!important;
	position: absolute;
	z-index: 100;
	bottom: 5%!important;
	margin-left: -22px;
}
/* Nav Wrap */
#body .container-fluid .col-md-10 .first_row #nav_wrap{
	background: #fff;
	width: 100%;
	height: 50px;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul{
	list-style: none;
	line-height: 50px;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul a{
	text-decoration: none;
	outline: none;
	color: #000!important;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul li{
	display: inline-block;
	margin-right: 15px;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul li i{
	color: #666!important;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul .btn{
	color: #fff!important;
	margin-right: 10px;
	margin-top: 10px;
}

/*Second Row!*/
#body .container-fluid .col-md-10 .second_row{
	margin-top: 5px;
	padding: 10px;
	background: #fff;
}

#body .container-fluid .col-md-10 .second_row #left-section{
	padding-left: 20px;
	padding-right: 20px;
}
#body .container-fluid .col-md-10 .second_row #right-section{
	padding-left: 20px;
	padding-right: 20px;
}
#body .container-fluid .col-md-10 .second_row #left-section a{
	text-decoration: none;
	outline: none;
	color: #000!important;
	margin-left: 5px;
}
#body .container-fluid .col-md-10 .second_row #left-section .btn{
	color: #fff!important;
	padding: 4px 8px 4px 8px!important;
	font-size: 12px!important;
}
#body .container-fluid .col-md-10 .second_row #left-section .left_third_row h4, #body .container-fluid .col-md-10 .second_row #left-section .left_fith_row h4{
	display: inline-block;
	margin-bottom: 20px;
}
#body .container-fluid .col-md-10 .second_row #left-section .left_third_row .btn, #body .container-fluid .col-md-10 .second_row #left-section .left_fith_row .btn{
	display: inline-block;
}

#body .container-fluid .col-md-10 .second_row #left-section .left_first_row, #body .container-fluid .col-md-10 .second_row #left-section .left_second_row, #body .container-fluid .col-md-10 .second_row #left-section .left_third_row,#body .container-fluid .col-md-10 .second_row #left-section .left_fourth_row, #body .container-fluid .col-md-10 .second_row #left-section .left_fith_row{
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-top: 20px;
}
#body .container-fluid .col-md-10 .second_row #left-section .left_fith_row{
	border-bottom: 0px solid rgba(0,0,0,0.1)!important;
}
#body .container-fluid .col-md-10 .second_row #left-section .left_first_row .row, #body .container-fluid .col-md-10 .second_row #left-section .left_second_row .row, #body .container-fluid .col-md-10 .second_row #left-section .left_third_row .row, #body .container-fluid .col-md-10 .second_row #left-section .left_fourth_row .row, #body .container-fluid .col-md-10 .second_row #left-section .left_fith_row .row{
	margin-bottom: 10px;
}

#body .container-fluid .col-md-10 .second_row #left-section .left_second_row .row:first-child{
	margin-bottom: 20px;
}

#body .container-fluid .col-md-10 .second_row #left-section .left_third_row h4,#body .container-fluid .col-md-10 .second_row #left-section .left_fourth_row h4, #body .container-fluid .col-md-10 .second_row #left-section .left_fith_row h4{
	font-weight: bold;
	margin-bottom: 15px;
	font-size: 16px;
}

#body .container-fluid .col-md-10 .second_row #right-section .right_first_row, #body .container-fluid .col-md-10 .second_row #right-section .right_second_row{
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-top: 20px;
}
#body .container-fluid .col-md-10 .second_row #right-section .right_second_row{
	border-bottom: 0px solid rgba(0,0,0,0.1)!important;
}
#body .container-fluid .col-md-10 .second_row #right-section .right_first_row h4,#body .container-fluid .col-md-10 .second_row #right-section .right_second_row h4{
	font-weight: bold;
	margin-bottom: 15px;
	font-size: 16px;
}
#body .container-fluid .col-md-10 .second_row #right-section .right_second_row #bg_group{
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
}
#body .container-fluid .col-md-10 .second_row #right-section .right_first_row p{
	text-align: justify;
}
#body .container-fluid .col-md-10 .second_row #right-section .right_second_row #bg_group .btn{
	color: #fff!important;
	background: #3a9bfa!important;
	margin-bottom: 5px;
	font-size: 14px;
}

#body .container-fluid .col-md-10 .second_row #right-section .right_second_row #bg_group .closebtn {
  padding-left: 5px;
  color: #fff;
  float: right;
  font-size: 16px;
  cursor: pointer;
}

#body .container-fluid .col-md-10 .second_row #right-section .right_second_row #bg_group .closebtn:hover {
  color: #000;
}

/*Body Right Job Section! */
#body_right_job_section{
	display: none;
}
#body_right_job_section .table_section{
	padding: 20px;
	background: #fff;
	margin-top: 45px;
}
#body_right_job_section .table_section ul{
	list-style: none;
	padding: 0px!important;
}
#body_right_job_section .table_section ul:first-child{
	margin-bottom: 15px;
}
#body_right_job_section .table_section ul:nth-child(2){
	float: right!important;
}
#body_right_job_section .table_section ul li{
	display: inline-block;
	margin-right: 20px;
}
#body_right_job_section .table_section ul li a{
	color: #000!important;
	text-decoration: none;
	outline: none;
	font-weight: bold;
}
#body_right_job_section .table_section ul li .caret{
	color: #3a9bfa!important;
	width: 4px!important;
	margin: 0 auto!important;
	margin-top: 3px!important;
	display: block!important;
}
#body_right_job_section .table_section .table a{
	color: #000!important;
	text-decoration: none;
	outline: none;
}
#body_right_job_section .table_section .table .btn{
	color: #fff!important;
	padding: 2px 0px 2px 0px!important;
	font-size: 12px!important;
	margin: 0 auto!important;
	display: block!important;
	width: 26px;
}

/*Body Right Setting Section! */
#body_right_setting_section{
	display: none;
}
#body_right_setting_section .table_section{
	padding: 20px;
	background: #fff;
	margin-top: 45px;
}

/*My Setting Section!*/
#body_right_setting_section .table_section .my_setting{
	margin-top: 5px;
	padding: 20px;
	background: #fff;
}
#body_right_setting_section .table_section .my_setting .tab-menu{
	width: 20%;
	padding-top: 0px;
	padding-bottom: 20px;
	border-right: 1px solid rgba(0,0,0,0.1);
}
#body_right_setting_section .table_section .my_setting .tab-menu ul{
	list-style: none;
	padding: 0px!important;
}
#body_right_setting_section .table_section .my_setting .tab-menu ul li:first-child{
	margin-bottom: 18px;
}
#body_right_setting_section .table_section .my_setting .tab-menu ul li{
	margin-bottom: 15px;
}
#body_right_setting_section .table_section .my_setting .tab-menu ul li a{
	text-decoration: none;
	outline: none;
	color: #000!important;
}
#body_right_setting_section .table_section .my_setting .tab-menu ul li a i{
	font-size: 15px!important;
	color: #666!important;
	display: inline-block;
	margin-right: 7px;
}

#body_right_setting_section .table_section .my_setting .tab-section{
	width: 80%;
	padding-top: 0px;
}

/*Language*/
#body_right_setting_section .table_section .my_setting .tab-section #language h4{
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 6px;
}
#body_right_setting_section .table_section .my_setting .tab-section #language .row .col-md-8 select{
	width: 40%;
}
#body_right_setting_section .table_section .my_setting .tab-section #language .row .col-md-4 span{
	font-weight: bold;
}
/*Login*/
#body_right_setting_section .table_section .my_setting .tab-section #login{
	display: none;
}
#body_right_setting_section .table_section .my_setting .tab-section #login .row{
	margin-top: 15px;
}
#body_right_setting_section .table_section .my_setting .tab-section #login h4{
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 6px;
}
#body_right_setting_section .table_section .my_setting .tab-section #login .row .col-md-12 span{
	display: block;
	font-weight: bold;
	float: left;
}
#body_right_setting_section .table_section .my_setting .tab-section #login .row .col-md-12 small{
	display: block;
	margin-left: 19px;
	margin-bottom: 12px;
	clear: both;
}
#body_right_setting_section .table_section .my_setting .tab-section #login .row .col-md-12 form{
	margin-top: 18px;
	margin-left: 19px;
	display: none;
}
#body_right_setting_section .table_section .my_setting .tab-section #login .row .col-md-12 form input{
	width: 28%!important;
	display: inline-block;
	margin-right: 5px;
}
#body_right_setting_section .table_section .my_setting .tab-section #login .row .col-md-12 form .btn{
	border: 0px!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
    text-decoration: none;
    outline: none;
    color: #000!important;
    display: inline-block;
    width: 28%!important;
}
/*Blocking*/
#body_right_setting_section .table_section .my_setting .tab-section #blocking{
	display: none;
}
#body_right_setting_section .table_section .my_setting .tab-section #blocking .row{
	margin-top: 15px;
}
#body_right_setting_section .table_section .my_setting .tab-section #blocking h4{
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 6px;
}
#body_right_setting_section .table_section .my_setting .tab-section #blocking .row .col-md-6 select{
	width: 40%;
}
#body_right_setting_section .table_section .my_setting .tab-section #blocking .row .col-md-6 span, #body_right_setting_section .table_section .my_setting .tab-section #blocking .row .col-md-12 span{
	font-weight: bold;
}
#body_right_setting_section .table_section .my_setting .tab-section #blocking .row .col-md-6 small, #body_right_setting_section .table_section .my_setting .tab-section #blocking .row .col-md-12 small{
	display: block;
	margin-left: 18px;
	margin-bottom: 12px;
	clear: both;
}
#body_right_setting_section .table_section .my_setting .tab-section #blocking .row .col-md-12 table{
	width: 65%;
	margin-left: 18px;
}
#body_right_setting_section .table_section .my_setting .tab-section #blocking .row .col-md-12 table select{
	width: 40%;
	float: right;
}
/*Page Role*/
#body_right_setting_section .table_section .my_setting .tab-section #pagerole{
	display: none;
}
#body_right_setting_section .table_section .my_setting .tab-section #pagerole .row{
	margin-top: 15px;
}
#body_right_setting_section .table_section .my_setting .tab-section #pagerole h4{
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 6px;
}
#body_right_setting_section .table_section .my_setting .tab-section #pagerole .row .col-md-12 span{
	display: block;
	font-weight: bold;
	float: left;
}
#body_right_setting_section .table_section .my_setting .tab-section #pagerole .row .col-md-12 form{
	margin-top: 12px;
}
#body_right_setting_section .table_section .my_setting .tab-section #pagerole .row .col-md-12 form input, #body_right_setting_section .table_section .my_setting .tab-section #pagerole .row .col-md-12 form select{
	width: 30%!important;
	display: inline-block;
	margin-right: 5px;
}
#body_right_setting_section .table_section .my_setting .tab-section #pagerole .row .col-md-12 form .btn{
	border: 0px!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
    text-decoration: none;
    outline: none;
    color: #000!important;
    display: inline-block;
    width: 20%!important;
}
/*Notification*/
#body_right_setting_section .table_section .my_setting .tab-section #notification{
	display: none;
}
#body_right_setting_section .table_section .my_setting .tab-section #notification .row{
	margin-top: 15px;
}
#body_right_setting_section .table_section .my_setting .tab-section #notification h4{
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 6px;
}
#body_right_setting_section .table_section .my_setting .tab-section #notification .row .col-md-12 span{
	display: inline-block;
	font-weight: bold;
}
#body_right_setting_section .table_section .my_setting .tab-section #notification .row .col-md-12 small, #body_right_setting_section .table_section .my_setting .tab-section #notification .row .col-md-5 small{
	display: block;
	margin-left: 18px;
	margin-bottom: 12px;
	clear: both;
}
#body_right_setting_section .table_section .my_setting .tab-section #notification .row .col-md-5{
	padding-left: 0px;
}
#body_right_setting_section .table_section .my_setting .tab-section #notification .row .col-md-5,#body_right_setting_section .table_section .my_setting .tab-section #notification .row .col-md-3{
	margin-bottom: 10px;
}
#body_right_setting_section .table_section .my_setting .tab-section #notification .row .col-md-3 select{
	width: 45%!important;
}
/*Help Center*/
#body_right_setting_section .table_section .my_setting .tab-section #helpcenter{
	display: none;
}


/*Body Right Inbox Section! */
#body_right_inbox_section{
	display: none;
	margin-bottom: 20px;
}
#body_right_inbox_section .inbox-section{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #fff;
	margin-top: 45px;
}
#body_right_inbox_section .inbox-section .col-md-3 img{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	display: inline-block;
}
#body_right_inbox_section .inbox-section .col-md-3 strong{
	display: inline-block;
	margin-left: 8px;
}
#body_right_inbox_section .inbox-section .message-title{
	/*margin-bottom: 20px;*/
}
#body_right_inbox_section .inbox-section .message-title .col-md-9{
	text-align: center;
}
#body_right_inbox_section .inbox-section .message-title h4{
	font-weight: bold;
	padding: 0px;
	display: inline-block;
}

#body_right_inbox_section .inbox-section .message-search{
	border: 1px solid rgba(0,0,0,0.1);
	overflow-y: auto!important;
	overflow-x: hidden!important;
	height: 100vh;
	padding: 0px!important;
}
#body_right_inbox_section .inbox-section .message-search .search-field{
	padding: 12px 18px 12px 18px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body_right_inbox_section .inbox-section .message-search .search-field form input{
	width: 57%;
	display: inline-block;
}
#body_right_inbox_section .inbox-section .message-search .search-field form select{
	width: 32%;
	display: inline-block;
}

#body_right_inbox_section .inbox-section .message-text{
	border: 1px solid rgba(0,0,0,0.1);
	padding-top: 15px;
	padding-bottom: 15px;
	height: 100vh;
}

#body_right_inbox_section .inbox-section .message-search a{
	text-decoration: none;
	outline: none;
	color: #000!important;
	display: block;
}
#body_right_inbox_section .inbox-section .message-search .active_tab{
	border-left: 2px solid #3a9bfa;
}
#body_right_inbox_section .inbox-section .message-search a .message-tab{
	padding: 10px 5px 10px 5px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body_right_inbox_section .inbox-section .message-search a .message-tab .col-md-3 img{
	width: 40px;
	height: 40px;
	border-radius: 40px;
}
#body_right_inbox_section .inbox-section .message-search a .message-tab .col-md-9 p{
	margin-top: 5px;
	font-size: 13px;
}

#body_right_inbox_section .inbox-section .message-text .name-bar{
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 10px;
}
#body_right_inbox_section .inbox-section .message-text .name-bar img{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	display: inline-block;
}
#body_right_inbox_section .inbox-section .message-text .name-bar span{
	display: block;
}
#body_right_inbox_section .inbox-section .message-text .chat-left,#body_right_inbox_section .inbox-section .message-text .chat-right{
	padding-top: 15px;
	padding-bottom: 15px;
}
#body_right_inbox_section .inbox-section .message-text .chat-left .col-md-1{
	/*background: red;*/
}
#body_right_inbox_section .inbox-section .message-text .chat-left .col-md-11{
	padding-left: 0px;
}
#body_right_inbox_section .inbox-section .message-text .chat-left .col-md-1 img{
	width: 25px;
	height: 25px;
	border-radius: 25px;
}
#body_right_inbox_section .inbox-section .message-text .chat-left .col-md-11 strong{
	display: block;
}
#body_right_inbox_section .inbox-section .message-text .chat-left .col-md-11 div,#body_right_inbox_section .inbox-section .message-text .chat-right .col-md-12 div{
	padding: 7px;
	background-color: #3a9bfa;
	font-size: 13px;
	color: #fff;
	display: inline-block;
	max-width: 70%;
}

#body_right_inbox_section .inbox-section .message-text .message-footer{
	border-top: 1px solid rgba(0,0,0,0.1);
	position: absolute;
	bottom: 0%!important;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}
#body_right_inbox_section .inbox-section .message-text .message-footer .col-md-12{
	margin-top: 10px;
}
#body_right_inbox_section .inbox-section .message-text .message-footer .col-md-12 textarea{
	max-width: 100%;
	border-top: 0px!important;
	border-left: 0px!important;
	border-right: 0px!important;
	border-radius: 0px!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
}
#body_right_inbox_section .inbox-section .message-text .message-footer .col-md-12 input[type="file"] {
    display: none;
}
#body_right_inbox_section .inbox-section .message-text .message-footer .col-md-12 .custom-file-upload i{
	font-size: 16px;
	color: #3a9bfa;
}
#body_right_inbox_section .inbox-section .message-text .message-footer .col-md-12 .custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}




/*Schedule Modal CSS!*/
#myModal .modal-body form h4{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 10px;
}
#myModal .modal-body form .row{
	margin-bottom: 10px;
}
#myModal .modal-body form i{
	font-size: 18px;
}

#myModal .modal-body form textarea{
	max-width: 100%;
	height: 100%;
	position: relative;
	z-index: 100;
}
#myModal .modal-body form .btn{
	width: 100%!important;
}

#inputcontactModal .modal-body form .col-md-12, #addcontactModal .modal-body form .col-md-12{
	margin-bottom: 10px!important;
}

#inputvisionModal .modal-body form .col-md-12,#addvisionModal .modal-body form .col-md-12{
	margin-bottom: 10px!important;
}
#inputvisionModal .modal-body form .col-md-12 textarea, #addvisionModal .modal-body form .col-md-12 textarea{
	max-width: 100%!important;
}
#inputtextareaModal .modal-body form .col-md-12, #addaboutModal .modal-body form .col-md-12{
	margin-bottom: 10px!important;
}
#inputtextareaModal .modal-body form .col-md-12 textarea{
	max-width: 100%!important;
}

/*Setting Modals!!*/
#verifycodeModal .row .col-md-12{
	margin-top: 10px;
}
#verifycodeModal .row .col-md-12 p a{
	text-decoration: none;
	outline: none;
	color: #000!important;
}

/* Media Queries!!! */
@media screen and (max-width: 1228px){

}

/* Media Queries!!! */
@media screen and (max-width: 499px){
	#sub_nav{
		display: none;
	}
	#body .container-fluid #fix_position{
		display: none;
	}
}