/* Mobile View CSS Style (768px) */

/* Header Form Style */
/*Form One*/
#header_wrap #form_one{
	width: 100%;
	padding: 12px 15px 8px 15px;
}
#header #form_one form input, form select{
	width: 100%!important;
	margin-bottom: 5px;
}

#header #form_one form .btn{
	width: 100%!important;
}

#header #form_one form .collapse input,#header #form_one form .collapse select,#header #form_one form .collapse .btn{
	margin-bottom: 5px;
}

#header #form_one form #job_dropdown{
	width: 100%!important;
	margin-bottom: 5px;
	padding-left: 10px;
}

/* Navigation CSS! */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: rgba(0,0,0,0)!important;
}
nav #language_toggle_select{
	margin-left: 0px!important;
}
nav li .dropdown-menu{
	width: 100%;
}
nav li .dropdown-menu li{
	border-bottom: 0px solid #ccc!important;
}
nav li .dropdown-menu li a{
	font-weight: bold;
	border-bottom: 1px solid rgba(255,255,255,0.2)!important;
}
nav li .dropdown-menu li small{
	padding-left: 24px!important;
}

/* Shwo Map CSS Style! */
#show_sort{
	padding: 10px;
}
#show_sort .col-md-2 select{
	width: 20%!important;
}

#show_sort .map_toggle{
	display: none;
}
#show_sort .col-md-10{
	display: none;
}


/* App Section CSS! */
#app{
	padding: 50px;
}

#app a:first-child{
	position: absolute;
	top: 50%;
	left: 36%!important;
	transform: translate(-50%,-50%);
}
#app a:last-child{
	position: absolute;
	top: 50%;
	right: 36%!important;
	transform: translate(50%,-50%);
}
#app img{
	width: 110px;
	height: 40px;
}