/* Mobile View CSS Style (768px) */

/* Header Form Style */
/*Form One*/
#header_wrap #form_one{
	width: 100%;
	padding: 12px 15px 8px 15px;
}
#header #form_one form input, form select{
	width: 100%!important;
	margin-bottom: 5px;
}

#header #form_one form .btn{
	width: 100%!important;
}

#header #form_one form .collapse input,#header #form_one form .collapse select,#header #form_one form .collapse .btn{
	margin-bottom: 5px;
}

#header #form_one form #job_dropdown{
	width: 100%!important;
	margin-bottom: 5px;
	padding-left: 10px;
}

/* Navigation CSS! */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: rgba(0,0,0,0)!important;
}
nav #language_toggle_select{
	margin-left: 0px!important;
}
nav li .dropdown-menu{
	width: 100%;
}
nav li .dropdown-menu li{
	border-bottom: 0px solid #ccc!important;
}
nav li .dropdown-menu li a{
	font-weight: bold;
	border-bottom: 1px solid rgba(255,255,255,0.2)!important;
}
nav li .dropdown-menu li small{
	padding-left: 24px!important;
}

/* Shwo Sort CSS Style! */
#show_sort{
	padding: 10px;
}
#show_sort .col-md-2 select{
	width: 20%!important;
}

#show_sort .map_toggle{
	display: none;
}
#show_sort .col-md-8{
	display: none;
}


/* This class is added on scroll */
.fixed{
	width: 100%!important;
	position: static!important;
}
/*Body - Job Detail Section*/
#body .container .col-md-8{
	display: none!important;
}
#body .container #fix_position{
	display: block;
	margin-top: -4px!important;
}
/*Job Wrap Tab*/
#body #job_wrap{
	border-bottom: 0px solid rgba(0,0,0,0.1)!important;
	border: 1px solid rgba(0,0,0,0.1)!important;
	border-radius: 5px!important;
	margin-bottom: 10px!important;
}
#body .computer_wrap{
	display: none!important;
}
#body .responsive-wrap{
	display: block!important;
}

#body .active_tab{
	border-left: 0px solid #3a9bfa!important;
}

/*Job Detail Section For Tablet & Mobile View With Popup*/
/*First Row*/
#body #myModal .modal-body .first_row{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body #myModal .modal-body .first_row .col-md-12 img{
	width: 65px;
	height: 65px;
	float: left;
}
#body #myModal .modal-body .first_row .col-md-12 ul{
	list-style: none;
	float: left;
}
#body #myModal .modal-body .first_row .col-md-12 ul:last-child{
	list-style: none;
	float: right;
}
#body #myModal .modal-body .first_row .col-md-12  ul:last-child li .job_type_btn{
	background-color: #3a9bfa!important;
	color: #fff!important;
	float: right;
}
#body #myModal .modal-body .first_row .col-md-12  ul:last-child li form .apply_btn{
	background-color: #3a9bfa!important;
	color: #fff!important;
}
#body #myModal .modal-body .first_row .col-md-12  ul:last-child li form .save_btn{
	background-color: #3a9bfa!important;
	color: #fff!important;
}
#body #myModal .modal-body .first_row .col-md-12 small{
	display: inline-block!important;
	float: right;
	margin-bottom: 20px;
	margin-top: 5px;
}
/*Second Row*/
#body #myModal .modal-body .second_row{
	padding-top: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body #myModal .modal-body .second_row ul{
	list-style: none;
}
#body #myModal .modal-body .second_row ul li:first-child{
	font-weight: bold;
}
#body #myModal .modal-body .second_row ul li:last-child{
	margin-left: 30px;
	margin-top: 5px;
}
#body #myModal .modal-body .second_row ul li i{
	margin-right: 7px;
	font-size: 18px;
}
#body #myModal .modal-body .second_row .col-md-4{
	margin-bottom: 10px;
}
/*Third Row!*/
#body #myModal .modal-body .third_row{
	padding-top: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body #myModal .modal-body .third_row{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body #myModal .modal-body .third_row h4{
	font-weight: bold;
}
#body #myModal .modal-body .third_row p{
	font-size: 14px;
	margin-bottom: 15px;
}
/*Fourth Row*/
#body #myModal .modal-body .fourth_row{
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body #myModal .modal-body .fourth_row form input{
	margin-bottom: 10px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
}
#body #myModal .modal-body .fourth_row form span{
	float: left;
	display: inline-block;
	margin-top: 7px;
	margin-right: 5px;
}
#body #myModal .modal-body .fourth_row form .cv{
	width: 33%!important;
	float: left;
}
/*Fith Row*/
#body #myModal .modal-body .fith_row{
	padding: 15px;
}
#body #myModal .modal-body .fith_row .btn{
	background: #3a9bfa!important;
	color: #fff!important;
}
#body #myModal .modal-body .fith_row strong{
	font-size: 14px;
}