/* Common CSS Style Sheets!!! (600px) */

/* Language Toggle From Navigation */
#language_toggle_select{
	margin-left: 7px;
}


/* Download App CSS Style */
#download_app{
	height: 55vh;
	background-image: url('../../images/mobile_size_download_app.png')!important;
}
#download_app .container #store{
	width: 50%;
	height: 100px;
	line-height: 100px;
	position: absolute;
	left: 33%!important;
	top: 72%!important;
	transform: translate(-50%,-50%);
}
#download_app .container #store .col-md-6 img{
	width: 90px!important;
	height: 30px!important;
}


/* Footer CSS Style */
#footer{
	display: none!important;
}