/* Common CSS Style Sheets!!! (998px) */

/* Language Toggle From Navigation */
#language_toggle_select{
	margin-left: 7px;
}


/* Download App CSS Style */
#download_app{
	height: 55vh;
	background-image: url('../../images/tablet_size_download_app.png');
}
#download_app .container #store{
	width: 50%;
	height: 100px;
	line-height: 100px;
	position: absolute;
	left: 40%;
	top: 65%;
	transform: translate(-50%,-50%);
}
#download_app .container #store .col-md-6 img{
	width: 100px;
	height: 40px;
}


/* Footer CSS Style */
#footer{
	display: none!important;
}