/* Common CSS Style Sheets!!! (998px) */

/* Navigation CSS! */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: rgba(0,0,0,0)!important;
}
nav #language_toggle_select{
	margin-left: 0px!important;
}
nav li .dropdown-menu{
	width: 100%;
	position: static!important;
	left: 0%!important;
	margin-top: 0px!important;
}
nav li .dropdown-menu li{
	border-bottom: 0px solid #ccc!important;
}
nav li .dropdown-menu li a{
	font-weight: bold;
	border-bottom: 1px solid rgba(255,255,255,0)!important;
}
nav li .dropdown-menu li small{
	font-size: 10px!important;
	margin-left: 44px!important;
	display: block!important;
	padding-top: 10px;
}

.navbar-right .first-caret{
	display: block;
	position: absolute;
	left: 30%;
	top: -1.5%;
	color: #3a9bfa!important;
	z-index: 100;
	width: 4px;
	height: 4px;
	transform: rotate(-180deg);
	color: #fff!important;
}

.navbar-right .second-caret{
	display: block;
	position: absolute;
	right: 44%;
	top: -2%;
	color: #3a9bfa!important;
	z-index: 100;
	width: 4px;
	height: 4px;
	transform: rotate(-180deg);
	color: #fff!important;
}
/*Notification Section!*/
nav .nav-li .dropdown-menu{
	width: 100%;
	position: static!important;
	left: 0%!important;
	margin-top: 0px!important;
}
nav .nav-li .dropdown-menu .noti-caret{
	display: none;
}

/* Language Toggle CSS Style */
#language_toggle_select{
	position: relative;
}
#language_toggle_select .dropdown-menu{
	position: absolute;
}

/* Download App CSS Style */
#download_app{
	height: 55vh;
	background-image: url('../../images/tablet_size_download_app.png');
}
#download_app .container #store{
	width: 50%;
	height: 100px;
	line-height: 100px;
	position: absolute;
	left: 40%;
	top: 65%;
	transform: translate(-50%,-50%);
}
#download_app .container #store .col-md-6 img{
	width: 100px;
	height: 40px;
}


/* Footer CSS Style */
#footer{
	display: none!important;
}