/* Header Form Style */
#header{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 50px;
	background-color: #ccc;
}

/*Form*/
#header_wrap #form_one{
	background: rgba(255,255,255,0.5);
	width: 100%!important;
	padding: 20px;
	padding-right: 10px!important;
	padding-bottom: 10px!important;
}
#header_wrap #form_one form .row{
	margin-bottom: 10px;
}
#header #form_one form input, form select{
	width: 17%!important;
	float: left;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
	border: 0px!important;
	margin-left: 10px;
}
#header #form_one form .btn{
	background: #3a9bfa;
	color: #fff;
	width: 17%;
	display: inline-block!important;
	margin-left: 10px;
}
#header #form_one form .collapse input,#header #form_one form .collapse select,#header #form_one form .collapse .btn{
	margin-bottom: 10px;
}
#header #form_one form #detail_search{
	padding: 0px!important;
	width: auto!important;
	background-color: rgba(0,0,0,0)!important;
	color: #000!important;
	display: inline-block!important;
	text-decoration: none!important;
	outline: none!important;
	margin-left: 10px;
}
#header #form_one form #candidate_dropdown{
	width: 13%!important;
	background: rgba(0,0,0,0)!important;
	padding-left: 30px;
}


/* Shwo Map CSS Style! */
#show_sort{
	width: 100%;
	padding: 1px;
}
#show_sort .col-md-8 #bg_group{
	width: 80%;
	margin: 0 auto;
}
#show_sort .col-md-8 #bg_group .btn{
	color: #fff;
	background: #ccc;
}
#show_sort .col-md-8 #bg_group .active{
	background: #3a9bfa!important;
	color: #fff!important;
}
/* Show Nearby Toggle CSS Style */
#nearby_toggle_select{
	list-style: none;
	margin-top: 5px;
}
#nearby_toggle_select li{
	display: inline-block!important;
}
#nearby_toggle_select li span{
	background: #fff!important;
	padding: 4px;
}
#nearby_toggle_select li span a{
	outline: none!important;
	text-decoration: none!important;
	font-size: 12px;
	color: #000!important;
}
#nearby_toggle_select li span .selected_nearby{
	background: #3a9bfa!important;
	padding: 2px;
	color: #fff!important;
}

/* Sort By */
#show_sort .col-md-2 small{
	float: left;
	margin-top: 5px;
	display: inline-block;
}
#show_sort .col-md-2 select{
	width: 50%;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
	border: 0px!important;
	float: left;
}


/* Navigation CSS! */
nav li sub{
	font-size: 16px!important;
	display: inline-block!important;
	margin-right: -5px!important;
}
nav li sup{
	width: 14px;
	height: 14px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 14px;
	border-radius: 25px;
	background: red;
	display: inline-block!important;
}
nav li:last-child a img{
	width: 25px;
	height: 25px;
	border-radius: 25px;
	display: inline-block;
}


/* Body! This class is added on scroll */
#body{
	width: 100%;
}
#body .container #fix_position{
	background-color: #fff;
	padding-top: 18px;
	padding-bottom: 5px;
	margin-top: -4px!important;

}
#body .container .col-md-8{
	background-color: #fff;
	float: right!important;
	border-left: 5px solid #f2f2f2;
	padding: 30px;
	margin-bottom: 20px;
	margin-top: -4px!important;
}
.fixed{
	width: 28%!important;
	position: fixed!important;
	top: 50px!important;
}
/*Candidate Wrap Tab*/
#body #candidate_wrap{
	display: block;
	outline: none;
	text-decoration: none;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	position: relative;
	padding: 5px;
	padding-left: 10px;
}

#body #responsive{
	display: none!important;
}


#body .active_tab{
	border-left: 2px solid #3a9bfa;
}
#body #candidate_wrap img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
#body #candidate_wrap .row .col-md-9 ul{
	list-style: none;
	float: left;
	color: #666!important;
	margin-left: -28px;
	font-size: 12px;
}
#body #candidate_wrap .row .col-md-9 ul .position{
	font-weight: bold!important;
}
#body #candidate_wrap .row .col-md-9 ul li span, small{
	margin-left: 12px;
}
#body #candidate_wrap .row .col-md-9 ul li .active{
	color: #0f0!important;
}
#body #candidate_wrap .row .col-md-9 ul li .unactive{
	color: #f00!important;
}

/*Candidate Detail Section*/
#body #candidate_detail .row{
	padding-top: 15px;
	padding-bottom: 15px;
}
/*First Row*/
#body #candidate_detail #first_row{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body #candidate_detail #first_row .col-md-6 img{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	float: left;
}
#body #candidate_detail #first_row .col-md-6:first-child ul{
	list-style: none;
	float: left;
}
#body #candidate_detail #first_row .col-md-6:first-child ul li:first-child{
	font-weight: bold;
}
#body #candidate_detail #first_row .col-md-6:first-child  ul li .active{
	color: #0f0!important;
}
#body #candidate_detail #first_row .col-md-6:first-child  ul li .unactive{
	color: #f00!important;
}
#body #candidate_detail #first_row .col-md-6:first-child  ul li:last-child span{
	display: block;
	margin-top: 8px;
	font-size: 10px!important;
}
#body #candidate_detail #first_row .col-md-6:last-child  ul{
	list-style: none;
	float: right;
}
#body #candidate_detail #first_row .col-md-6:last-child  ul li .message_type_btn{
	background-color: #3a9bfa!important;
	color: #fff!important;
	float: right;
}
#body #candidate_detail #first_row .col-md-6:last-child  ul li form .download_btn{
	background-color: #3a9bfa!important;
	color: #fff!important;
}
#body #candidate_detail #first_row .col-md-6:last-child  ul li form .save_btn{
	background-color: #3a9bfa!important;
	color: #fff!important;
}
#body #candidate_detail #first_row .col-md-6 small{
	display: inline-block!important;
	float: right;
	margin-bottom: 25px;
	margin-top: 5px;
}
/*Secon Row!*/
#body #candidate_detail #second_row{
	padding-top: 25px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body #candidate_detail #second_row ul{
	list-style: none;
}
#body #candidate_detail #second_row ul li:first-child{
	font-weight: bold;
}
#body #candidate_detail #second_row ul li:last-child{
	margin-left: 30px;
	margin-top: 5px;
}
#body #candidate_detail #second_row ul li i{
	margin-right: 7px;
	font-size: 18px;
}
#body #candidate_detail #second_row .col-md-4{
	margin-bottom: 10px;
}
/*Third Row!*/
#body #candidate_detail #third_row{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body #candidate_detail #third_row .table tr th,#body #candidate_detail #third_row .table tr td{
	border-top: 0px solid rgba(0,0,0,0)!important;
}
#body #candidate_detail #third_row .table tr th{
	width: 20%;
}
#body #candidate_detail #third_row .table tr td{
	width: 80%;
}
#body #candidate_detail #third_row .table tr span,#body #candidate_detail #third_row .table tr small, #body #candidate_detail #third_row .table tr strong{
	display: block;
	margin-bottom: 8px;
}
#body #candidate_detail #third_row .table tr small{
	padding: 0px!important;
	margin-left: 0px!important;
}
#body #candidate_detail #third_row .table tr p{
	text-align: justify;
}
#body #candidate_detail #third_row h4{
	font-weight: bold;
}
/*Fourth Row*/
#body #candidate_detail #fourth_row{
	padding-top: 25px;
}
#body #candidate_detail #fourth_row h4{
	font-weight: bold;
	margin-bottom: 28px;
}
#body #candidate_detail #fourth_row .col-md-4{
	margin-bottom: 10px;
}
#body #candidate_detail #fourth_row .col-md-4 p a{
	text-decoration: none!important;
	outline: none!important;
	color: #000!important;
}
#body #candidate_detail #fourth_row #icon{
	text-decoration: none!important;
	outline: none!important;
	color: #000!important;
	display: inline-block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #fff;
	border-radius: 25px;
	box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
	margin-left:  10px;
}

/* Page Pagination */
.page{
	display: none;
}
.page-active{
	display: block;
}
#body #pagination-demo{
	margin-top: 12px!important;
}
#body .pagination > li > a{
	background: #ccc!important;
	font-size: 12px;
}
#body .pagination > .active > a{
	background: #3a9bfa!important;
	border-color: rgba(255,255,255,0)!important;
}

/* Media Queries!!! */
@media screen and (max-width: 1228px){

	/* Header Form Style */
	/*Form One*/
	#header_wrap #form_one{
		width: 100%;
		padding: 12px 15px 8px 15px;
	}
	#header #form_one form input, form select{
		width: 100%!important;
		margin-bottom: 5px;
	}

	#header #form_one form .btn{
		width: 100%!important;
	}

	#header #form_one form #detail_search,#header #form_one form #search_candidate{
		margin-bottom: 5px;
	}
	#header #form_one form .collapse input,#header #form_one form .collapse select,#header #form_one form .collapse .btn{
		margin-bottom: 5px;
	}

	#header #form_one form #candidate_dropdown{
		width: 100%!important;
		margin-bottom: 5px;
		padding-left: 10px;
	}

	/* Shwo Sort CSS Style! */
	#show_sort .nearby_toggle{
		display: none;
	}
	#show_sort .col-md-8{
		display: none;
	}

	/* Navigation CSS! */
	nav #language_toggle_select{
		margin-left: 0px!important;
	}


	/* This class is added on scroll */
	.fixed{
		width: 100%!important;
		position: static!important;
	}
	/*Body - Candidate Detail Section*/
	#body .container .col-md-8{
		display: none!important;
	}
	#body .container #fix_position{
		display: block;
		margin-top: 5px!important;
	}
	/*Candidate Wrap Tab*/
	#body #candidate_wrap{
		border-bottom: 0px solid rgba(0,0,0,0.1)!important;
		border: 1px solid rgba(0,0,0,0.1)!important;
		border-radius: 5px!important;
		margin-bottom: 10px!important;
	}
	#body .computer_wrap{
		display: none!important;
	}
	#body .responsive-wrap{
		display: block!important;
	}

	#body .active_tab{
		border-left: 0px solid #3a9bfa!important;
	}

	/*Candidate Detail Section For Tablet & Mobile View With Popup*/
	/*First Row*/
	#body #myModal .modal-body .first_row{
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	#body #myModal .modal-body .first_row .col-md-12 img{
		width: 65px;
		height: 65px;
		border-radius: 65px;
		float: left;
	}
	#body #myModal .modal-body .first_row .col-md-12 ul{
		margin-left: -25px;
	}
	#body #myModal .modal-body .first_row .col-md-12 ul .active{
		color: #0f0!important;
	}
	#body #myModal .modal-body .first_row .col-md-12 ul .unactive{
		color: #f00!important;
	}
	#body #myModal .modal-body .first_row .col-md-12 ul{
		list-style: none;
		float: left;
	}
	#body #myModal .modal-body .first_row .col-md-12 ul:last-child{
		list-style: none;
		float: right;
	}
	#body #myModal .modal-body .first_row .col-md-12  ul:last-child li .message_type_btn{
		background-color: #3a9bfa!important;
		color: #fff!important;
		float: right;
	}
	#body #myModal .modal-body .first_row .col-md-12  ul:last-child li form .download_btn{
		background-color: #3a9bfa!important;
		color: #fff!important;
	}
	#body #myModal .modal-body .first_row .col-md-12  ul:last-child li form .save_btn{
		background-color: #3a9bfa!important;
		color: #fff!important;
	}
	#body #myModal .modal-body .first_row .col-md-12 small{
		display: inline-block!important;
		float: right;
		margin-bottom: 20px;
		margin-top: 5px;
	}
	/*Second Row*/
	#body #myModal .modal-body .second_row{
		padding-top: 15px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	#body #myModal .modal-body .second_row ul{
		list-style: none;
	}
	#body #myModal .modal-body .second_row ul li:first-child{
		font-weight: bold;
	}
	#body #myModal .modal-body .second_row ul li:last-child{
		margin-left: 30px;
		margin-top: 5px;
	}
	#body #myModal .modal-body .second_row ul li i{
		margin-right: 7px;
		font-size: 18px;
	}
	#body #myModal .modal-body .second_row .col-md-4{
		margin-bottom: 10px;
	}
	/*Third Row!*/
	#body #myModal .modal-body .third_row{
		padding-top: 15px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	#body #myModal .modal-body .third_row{
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	#body #myModal .modal-body .third_row h4{
		font-weight: bold;
	}
	#body #myModal .modal-body .third_row p{
		font-size: 14px;
		margin-bottom: 15px;
	}
	/*Fourth Row*/
	#body #myModal .modal-body .fourth_row{
		padding-top: 25px;
	}
	#body #myModal .modal-body .fourth_row h4{
		font-weight: bold;
		margin-bottom: 28px;
	}
	#body #myModal .modal-body .fourth_row .col-md-4{
		margin-bottom: 15px;
	}
	#body #myModal .modal-body .fourth_row .col-md-4 p a{
		text-decoration: none!important;
		outline: none!important;
		color: #000!important;
	}
	#body #myModal .modal-body .fourth_row #icon{
		text-decoration: none!important;
		outline: none!important;
		color: #000!important;
		display: inline-block;
		width: 35px;
		height: 35px;
		line-height: 35px;
		text-align: center;
		background: #fff;
		border-radius: 25px;
		box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
		margin-left:  10px;
	}

}


@media screen and (max-width: 499px){

	#show_sort .col-md-2 select{
		width: 25%!important;
	}

	/* This class is added on scroll */
	.fixed{
		width: 100%!important;
		position: static!important;
	}
	/*Body - Job Detail Section*/
	#body .container .col-md-8{
		display: none!important;
	}
	#body .container #fix_position{
		display: block;
	}
	/*Candidate Wrap Tab*/
	#body #candidate_wrap{
		border-bottom: 0px solid rgba(0,0,0,0.1)!important;
		border: 1px solid rgba(0,0,0,0.1)!important;
		border-radius: 5px!important;
		margin-bottom: 10px!important;
	}
	#body .computer_wrap{
		display: none!important;
	}
	#body .responsive-wrap{
		display: block!important;
	}

	#body .active_tab{
		border-left: 0px solid #3a9bfa!important;
	}

	/* Navigation CSS! */
	nav #language_toggle_select{
		margin-left: 0px!important;
	}

	/*Candidate Detail Section For Tablet & Mobile View With Popup*/
	/*First Row*/
	#body #myModal .modal-body .first_row{
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	#body #myModal .modal-body .first_row .col-md-12 img{
		width: 40px!important;
		height: 40px!important;
		border-radius: 40px!important;
		float: left;
	}
	#body #myModal .modal-body .first_row .col-md-12 ul{
		list-style: none;
		float: left;
		margin-left: -30px!important;
		font-size: 10px!important;
	}
	#body #myModal .modal-body .first_row .col-md-12 ul .active{
		color: #0f0!important;
	}
	#body #myModal .modal-body .first_row .col-md-12 ul .unactive{
		color: #f00!important;
	}
	#body #myModal .modal-body .first_row .col-md-12 ul li span{
		font-size: 10px!important;
	}
	#body #myModal .modal-body .first_row .col-md-12 ul:last-child{
		list-style: none;
		float: right;
		width: auto!important;
	}
	#body #myModal .modal-body .first_row .col-md-12  ul:last-child li .message_type_btn{
		background-color: #3a9bfa!important;
		color: #fff!important;
		float: right;
		width: 60px!important;
		font-size: 8px;
	}
	#body #myModal .modal-body .first_row .col-md-12  ul:last-child li form .download_btn{
		background-color: #3a9bfa!important;
		color: #fff!important;
		width: 60px!important;
		font-size: 8px;
	}
	#body #myModal .modal-body .first_row .col-md-12  ul:last-child li form .save_btn{
		background-color: #3a9bfa!important;
		color: #fff!important;
		width: 60px!important;
		font-size: 8px;
	}
	#body #myModal .modal-body .first_row .col-md-12 small{
		display: inline-block!important;
		float: right;
		margin-bottom: 20px;
		margin-top: 5px;
	}
	/*Second Row*/
	#body #myModal .modal-body .second_row{
		padding-top: 15px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	#body #myModal .modal-body .second_row ul{
		list-style: none;
		margin-left: -30px;
	}
	#body #myModal .modal-body .second_row ul li:first-child{
		font-weight: bold;
		font-size: 12px!important;
	}
	#body #myModal .modal-body .second_row ul li:last-child{
		margin-left: 26px!important;
		margin-top: 5px;
		font-size: 12px!important
	}
	#body #myModal .modal-body .second_row ul li i{
		margin-right: 7px;
		font-size: 13px!important;
	}
	#body #myModal .modal-body .second_row .col-md-4{
		margin-bottom: 10px;
	}
	/*Third Row!*/
	#body #myModal .modal-body .third_row{
		padding-top: 15px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	#body #myModal .modal-body .third_row{
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	#body #myModal .modal-body .third_row h4{
		font-weight: bold;
		font-size: 14px;
	}
	#body #myModal .modal-body .third_row p{
		font-size: 12px;
		margin-bottom: 15px;
	}
	/*Fourth Row*/
	#body #myModal .modal-body .fourth_row{
		padding-top: 25px;
	}
	#body #myModal .modal-body .fourth_row h4{
		font-weight: bold;
		margin-bottom: 28px;
	}
	#body #myModal .modal-body .fourth_row .col-md-4{
		margin-bottom: 15px;
	}
	#body #myModal .modal-body .fourth_row .col-md-4 p a{
		text-decoration: none!important;
		outline: none!important;
		color: #000!important;
	}
	#body #myModal .modal-body .fourth_row #icon{
		text-decoration: none!important;
		outline: none!important;
		color: #000!important;
		display: inline-block;
		width: 35px;
		height: 35px;
		line-height: 35px;
		text-align: center;
		background: #fff;
		border-radius: 25px;
		box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
		margin-left:  10px;
	}

}