/* Tablet View CSS Style (1028px) */

/* Header Form Style */
/*Form One*/
#header_wrap #form_one{
	width: 100%;
	padding: 12px 15px 8px 15px;
}
#header #form_one form input, form select{
	width: 100%!important;
	margin-bottom: 5px;
}

#header #form_one form .btn{
	width: 100%!important;
}

#header #form_one form #detail_search,#header #form_one form #search_candidate{
	margin-bottom: 5px;
}
#header #form_one form .collapse input,#header #form_one form .collapse select,#header #form_one form .collapse .btn{
	margin-bottom: 5px;
}

#header #form_one form #candidate_dropdown{
	width: 100%!important;
	margin-bottom: 5px;
	padding-left: 10px;
}

/* Navigation CSS! */
nav #language_toggle_select{
	margin-left: 0px!important;
}


/* Shwo Sort CSS Style! */
#show_sort{
	padding: 10px;
}
#show_sort .col-md-2 select{
	width: 20%!important;
}

#show_sort .nearby_toggle{
	display: none;
}
#show_sort .col-md-8{
	display: none;
}


/* This class is added on scroll */
.fixed{
	width: 100%!important;
	position: static!important;
}
/*Body - Candidate Detail Section*/
#body .container .col-md-8{
	display: none!important;
}
#body .container #fix_position{
	display: block;
	margin-top: -4px!important;
}
/*Candidate Wrap Tab*/
#body #candidate_wrap{
	border-bottom: 0px solid rgba(0,0,0,0.1)!important;
	border: 1px solid rgba(0,0,0,0.1)!important;
	border-radius: 5px!important;
	margin-bottom: 10px!important;
}
#body .computer_wrap{
	display: none!important;
}
#body .responsive-wrap{
	display: block!important;
}

#body .active_tab{
	border-left: 0px solid #3a9bfa!important;
}

/*Candidate Detail Section For Tablet & Mobile View With Popup*/
/*First Row*/
#body #myModal .modal-body .first_row{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body #myModal .modal-body .first_row .col-md-12 img{
	width: 65px;
	height: 65px;
	border-radius: 65px;
	float: left;
}
#body #myModal .modal-body .first_row .col-md-12 ul{
	margin-left: -25px;
}
#body #myModal .modal-body .first_row .col-md-12 ul .active{
	color: #0f0!important;
}
#body #myModal .modal-body .first_row .col-md-12 ul .unactive{
	color: #f00!important;
}
#body #myModal .modal-body .first_row .col-md-12 ul{
	list-style: none;
	float: left;
}
#body #myModal .modal-body .first_row .col-md-12 ul:last-child{
	list-style: none;
	float: right;
}
#body #myModal .modal-body .first_row .col-md-12  ul:last-child li .message_type_btn{
	background-color: #3a9bfa!important;
	color: #fff!important;
	float: right;
}
#body #myModal .modal-body .first_row .col-md-12  ul:last-child li form .download_btn{
	background-color: #3a9bfa!important;
	color: #fff!important;
}
#body #myModal .modal-body .first_row .col-md-12  ul:last-child li form .save_btn{
	background-color: #3a9bfa!important;
	color: #fff!important;
}
#body #myModal .modal-body .first_row .col-md-12 small{
	display: inline-block!important;
	float: right;
	margin-bottom: 20px;
	margin-top: 5px;
}
/*Second Row*/
#body #myModal .modal-body .second_row{
	padding-top: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body #myModal .modal-body .second_row ul{
	list-style: none;
}
#body #myModal .modal-body .second_row ul li:first-child{
	font-weight: bold;
}
#body #myModal .modal-body .second_row ul li:last-child{
	margin-left: 30px;
	margin-top: 5px;
}
#body #myModal .modal-body .second_row ul li i{
	margin-right: 7px;
	font-size: 18px;
}
#body #myModal .modal-body .second_row .col-md-4{
	margin-bottom: 10px;
}
/*Third Row!*/
#body #myModal .modal-body .third_row{
	padding-top: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body #myModal .modal-body .third_row{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body #myModal .modal-body .third_row h4{
	font-weight: bold;
}
#body #myModal .modal-body .third_row p{
	font-size: 14px;
	margin-bottom: 15px;
}
/*Fourth Row*/
#body #myModal .modal-body .fourth_row{
	padding-top: 25px;
}
#body #myModal .modal-body .fourth_row h4{
	font-weight: bold;
	margin-bottom: 28px;
}
#body #myModal .modal-body .fourth_row .col-md-4{
	margin-bottom: 15px;
}
#body #myModal .modal-body .fourth_row .col-md-4 p a{
	text-decoration: none!important;
	outline: none!important;
	color: #000!important;
}
#body #myModal .modal-body .fourth_row #icon{
	text-decoration: none!important;
	outline: none!important;
	color: #000!important;
	display: inline-block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #fff;
	border-radius: 25px;
	box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
	margin-left:  10px;
}