/* Mobile View CSS Style (768px) */

/* Header Form Style */
#header{
	height: 100vh!important;
	margin-top: 0px!important;
}
#header_wrap{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%)!important;
	-ms-transform: translate(-50%,-50%)!important;
	-moz-transform: translate(-50%,-50%)!important;
	-o-transform: translate(-50%,-50%)!important;
}

/*Form Job*/
#header_wrap #form_one{
	width: 90%;
	height: 150px!important;
	padding: 0px 0px 0px 0px;
	margin-left: 0px;
	margin: 0 auto;
}
#header #form_one form input, form select{
	width: 100%!important;
	margin-bottom: 10px;
}
#header #form_one form{
	width: 85%;
}
#header #form_one form .btn{
	width: 100%!important;
}