/* Mobile View CSS Style (768px) */

/* Header Form Style */
#header{
	background: url("../../images/mobile_size_job_home_header.png") no-repeat!important;
	height: 100vh!important;
	margin-top: 0px!important;
}
#header_wrap{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%)!important;
	-ms-transform: translate(-50%,-50%)!important;
	-moz-transform: translate(-50%,-50%)!important;
	-o-transform: translate(-50%,-50%)!important;
}
/*Form Tabs*/
#header #header_wrap h3{
	margin-bottom: 15px;
	margin-left: 25px!important;
}
#header_wrap #header_form_wrap ul{
	margin-left: -15px!important;
}
/*Form Job*/
#header_wrap #form_one{
	width: 90%;
	height: 150px!important;
	padding: 0px 0px 0px 0px;
	margin-left: 0px;
	margin: 0 auto;
}
#header #form_one form input, form select{
	width: 100%!important;
	margin-bottom: 10px;
}
#header #form_one form{
	width: 85%;
}
#header #form_one form .btn{
	width: 100%!important;
}
#header_wrap #form_one .row:nth-child(2){
	display: none;
}
#header_wrap #form_one .row:nth-child(3){
	display: none;
}
#header_wrap #form_one .row select:nth-child(2){
	display: none;
}
#header #form_one .row:first-child .btn{
	display: block!important;
}
/*Form Place*/
#header_wrap #form_two{
	width: 90%;
	height: 150px;
	padding: 0px 0px 0px 0px;
	margin-left: 0px;
	margin: 0 auto;
}
#header #form_two form input, form select{
	width: 100%!important;
	margin-bottom: 10px;
}
#header #form_two form{
	width: 85%;
}
#header #form_two form .btn{
	width: 100%!important;
}
/*Form Flatmate*/
#header_wrap #form_three{
	width: 90%;
	height: 150px;
	padding: 0px 0px 0px 0px;
	margin-left: 0px;
	margin: 0 auto;
}
#header #form_three form input, form select{
	width: 100%!important;
	margin-bottom: 10px;
}
#header #form_three form{
	width: 85%;
}
#header #form_three form .btn{
	width: 100%!important;
}


/* Find Jobs CSS Style! */
#find_jobs .col-md-6 h3{
	font-size: 16px!important;
}
#find_jobs .col-md-6 #bg_group{
	width: 95%;
}
#find_jobs .col-md-6 #bg_group a{
	margin: 1px;
	font-size: 10px;
	height: 25px;
}


/* Feature Jobs CSS Style! */
#feature_jobs{
	width: 100%;
	background: #fff;
	padding: 25px 0px 25px 0px;
}
#feature_jobs h3{
	font-size: 22px;
	margin-bottom: 40px;
}
#feature_jobs h3::before{
	width: 60px;
	height: 1px;
	margin-top: 25px;
}

#feature_jobs .container .row{
	margin-bottom: 5px;
}
#feature_jobs .container .row .job_wrapper{
	width: 90%;
	margin-bottom: 10px;
	margin-left: 22px;
}

/*#feature_jobs .container .row .col-md-4:nth-child(1){
	margin-left: 10px;
}
#feature_jobs .container .row .col-md-4:nth-child(2){
	margin-left: 10px;
	margin-right: 10px;
}*/
#feature_jobs .container .row .job_wrapper #feature_img_wrap{
	width: 80%;
	margin: 0 auto!important;
}


/* Body Section CSS Style! */
#body{
	width: 100%;
	margin-bottom: 30px;
}
#body .row{
	margin-top: 30px;
}
#body .row h3{
	font-size: 22px;
	margin-bottom: 40px;
}
#body h3::before{
	width: 60px;
	height: 1px;
	margin-top: 25px;
}
#body .container #body_img_wrap{
	display: none;
}

#body .container #body_text_wrap h4{
	margin-bottom: 20px;
	font-size: 18px;
}
#body .container #body_text_wrap p{
	text-align: justify;
	margin-bottom: 30px;
}
#body .container #body_text_wrap .btn{
	display: block;
	margin-top: 20px;
	margin: 0 auto;
}
#body .container #body_text_wrap #pull-right{
	float: none!important;
}
#body .container #body_text_wrap #text-right{
	text-align: left!important;
}

/*Job Detail Section For View With Popup*/
/*First Row*/
#feature_jobs .container #myModal .modal-body .first_row .col-md-12 img{
	width: 65px!important;
	height: 65px!important;
	margin-left: 10px!important;
}