/* Tablet CSS (1228px) */

/* Header Form Style */
#header{
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/main_home_header.png") no-repeat;
	height: 100vh!important;
}
#header_wrap{
	width: 80%;
	position: absolute;
	top: 55%!important;
	left: 50%!important;
	transform: translate(-50%,-50%)!important;
	-webkit-transform: translate(-50%,-50%)!important;
	-ms-transform: translate(-50%,-50%)!important;
	-moz-transform: translate(-50%,-50%)!important;
	-o-transform: translate(-50%,-50%)!important;
}




/* Find Jobs CSS Style! */
#find_jobs .col-md-6 h3{
	font-size: 16px!important;
}
#find_jobs .col-md-6 #bg_group{
	width: 95%;
}
#find_jobs .col-md-6 #bg_group a{
	margin: 1px!important;
	font-size: 10px!important;
	height: 25px!important;
}


/* Body Section CSS Style! */
/* Add CSS */
#body .container #panel_wrap #how_jobs_panel_place{
	width: 380px!important;
	height: 300px!important;
	margin: 0 auto;
}
#body .container #panel_wrap #how_jobs_panel_jobs{
	width: 380px!important;
	height: 300px!important;
	margin: 0 auto;
}
#body .container #panel_wrap #how_jobs_panel_flatmate{
	width: 380px!important;
	height: 300px!important;
	margin: 0 auto;
}
#body .container #panel_wrap a img{
	width: 380px!important;
	height: 300px!important;
}

#body .container #body_text_wrap h4{
	margin-bottom: 20px;
	font-size: 18px;
}
#body .container #body_text_wrap p{
	text-align: justify;
	margin-bottom: 30px;
}
#body .container #body_text_wrap .btn{
	/*display: block;*/
	margin-top: 20px!important;
	/*margin: 0 auto!important;*/
}
#body .container #body_text_wrap #pull-right{
	/*float: none!important;*/
}
#body .container #body_text_wrap #text-right{
	/*text-align: left!important;*/
}


/* Feature Jobs CSS Style! */
#feature_jobs .container .row .col-md-4 #feature_img_wrap{
	width: 90%;
	margin: 0 auto!important;
}
#feature_jobs .container .row .col-md-4 ul li span, small{
	margin-left: 10px!important;
}