/* Mobile View CSS Style (768px) */

/* Navigation CSS! */
nav #language_toggle_select{
	margin-left: 0px!important;
}

/* Body Section CSS */
#body .container-fluid #fix_position{
	margin-top: 50px;
	height: 100vh;
	position: fixed;
	padding-top: 20px;
	padding-bottom: 5px;
	margin-left: -15px;
	z-index: 1000;
}
#body .container-fluid .col-md-10{
	width: 93%;
	margin-top: 55px;
}
/*Body Sidebar*/
#body #sidebar_wrap:first-child{
	display: none!important;
}
#body #sidebar_wrap{
	padding: 0px;
	border-bottom: 0px solid rgba(0,0,0,0.1)!important;
}
#body #sidebar_wrap ul{
	margin: 0px!important;
	padding: 0px!important;
}
#body #sidebar_wrap ul li span{
	display: none!important;
}
#body #sidebar_wrap ul li strong{
	display: none!important;
}

/*Cover Wrap*/
#body .container-fluid .col-md-10 .first_row #cover{
	height: 200px;
}
/* Nav Wrap */
#body .container-fluid .col-md-10 .first_row #nav_wrap ul a{
	font-size: 12px;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul li i{
	font-size: 14px;
}

#body .container-fluid .col-md-10 .second_row #left-section strong, #body .container-fluid .col-md-10 .second_row #right-section strong{
	margin-bottom: 10px;
	display: block;
}
#body .container-fluid .col-md-10 .second_row #left-section span, #body .container-fluid .col-md-10 .second_row #right-section span{
	margin-bottom: 15px;
	display: block;
}
#body .container-fluid .col-md-10 .second_row #left-section a, #body .container-fluid .col-md-10 .second_row #right-section a{
	margin-bottom: 15px;
	display: block;
}


/*Third Row!JOB Search Input!*/
#body .container-fluid .col-md-10 .third_row #job_form form input{
	width: 48%!important;
}
#body .container-fluid .col-md-10 .third_row #job_form form .btn{
	width: 20%;
}
#body .container-fluid .col-md-10 .third_row #job_form form #job_dropdown{
	width: 24%!important;
}
/*Fourth Row!JOB Tab Section!*/
#body .container-fluid .col-md-10 .fourth_row a .col-md-4{
	width: 100%;
}
#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-3 img{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	float: left;
}
#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-9 ul{
	width: 80%;
	float: right;
}


/*House Tab Section!*/
#body .container-fluid .col-md-10 .sixth_row .col-md-3{
	width: 100%;
}