/* Header Form Style */
#header{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 50px;
	background-color: #ccc;
}

/* Navigation CSS! */
nav li sub{
	font-size: 16px!important;
	display: inline-block!important;
	margin-right: -5px!important;
}
nav li sup{
	width: 14px;
	height: 14px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 14px;
	border-radius: 25px;
	background: red;
	display: inline-block!important;
}
nav li:last-child a img{
	width: 25px;
	height: 25px;
	border-radius: 25px;
	display: inline-block;
}


/* Body Section CSS! */
#body{
	width: 100%;
}
#body .container-fluid #fix_position{
	margin-top: 50px;
	height: 100vh;
	position: fixed;
	padding-top: 20px;
	padding-bottom: 20px;
}
#body .container-fluid .col-md-10{
	width: 82%;
	margin-top: 60px;
	float: right!important;
}
/*Body Sidebar*/
#body #sidebar_wrap:first-child{
	display: block;
	outline: none;
	text-decoration: none;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	position: relative;
	padding: 8px 5px 8px 10px;
}
#body #sidebar_wrap{
	display: block;
	outline: none;
	text-decoration: none;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	position: relative;
	padding: 10px 5px 10px 10px;
}
#body #sidebar_wrap a{
	text-decoration: none!important;
	outline: none!important;
	color: #666!important;
}
#body .active_tab{
	border-left: 2px solid #3a9bfa;
}
#body #sidebar_wrap img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
#body #sidebar_wrap .row .col-md-9 ul{
	list-style: none;
	float: left;
	color: #666!important;
	margin-left: -28px;
	font-size: 12px;
}
#body #sidebar_wrap .row .col-md-9 ul li strong{
	margin-left: 6px;
	font-size: 15px;
	margin-top: 11px!important;
	display: block;
}

#body #sidebar_wrap .row .col-md-12 ul{
	list-style: none;
	float: left;
	color: #666!important;
	margin-left: -28px;
	font-size: 12px;
}
#body #sidebar_wrap .row .col-md-12 ul li strong{
	font-size: 14px;
	margin-bottom: 15px;
	display: block;
}
#body #sidebar_wrap .row .col-md-12 ul li{
	margin-bottom: 10px;
}
#body #sidebar_wrap .row .col-md-12 ul li:last-child{
	margin-bottom: 0px!important;
}
#body #sidebar_wrap .row .col-md-12 ul li span{
	margin-left: 12px;
	font-size: 13px;
	font-weight: bold;
}
#body #sidebar_wrap .row .col-md-12 ul li i{
	font-size: 16px;
}
/* Cover Row */
#body .container-fluid .col-md-10 .first_row #cover{
	width: 100%;
	height: 220px;
	background: #fff;
	position: relative;
}
#body .container-fluid .col-md-10 .first_row #cover img{
	width: 100px;
	height: 100px;
	border-radius: 4px;
}
#body .container-fluid .col-md-10 .first_row #cover .cover_wrap{
	width: 200px;
	height: 100px;
	padding-right: 10px;
	position: absolute;
	bottom: 0%;
	margin-left: 10px;
	margin-bottom: 10px;
}
#body .container-fluid .col-md-10 .first_row #cover .cover_wrap strong{
	display: inline-block;
	margin-left: 7px;
	position: absolute;
	bottom: 0%;
	font-size: 14px;
	color: #333;
}
/* Nav Wrap */
#body .container-fluid .col-md-10 .first_row #nav_wrap{
	background: #fff;
	width: 100%;
	height: 50px;
	position: relative;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul{
	list-style: none;
	line-height: 50px;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul a{
	text-decoration: none;
	outline: none;
	color: #000!important;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul li{
	display: inline-block;
	margin-right: 15px;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul li i{
	color: #666!important;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul .btn{
	color: #fff!important;
	margin-right: 10px;
	margin-top: 10px;
}

/*Rating Stars!*/
#body .container-fluid .col-md-10 .first_row #nav_wrap ul .rating{
	transform: rotateY(180deg);
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul .rating input{
	display: none;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul .rating label{
	display: inline-block;
	cursor: pointer;
	width: 15px!important;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul .rating label:before{
	content: '\f005';
	font-family: fontAwesome;
	position: relative;
	font-size: 15px;
	display: block;
	color: #f2f2f2!important;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul .rating label:after{
	content: '\f005';
	font-family: fontAwesome;
	position: absolute;
	font-size: 15px;
	display: block;
	color: orange!important;
	top: 0;
	opacity: 0;
	transition: 0.5s;
}
#body .container-fluid .col-md-10 .first_row #nav_wrap ul .rating label:hover:after,#body .container-fluid .col-md-10 .first_row #nav_wrap ul .rating label:hover ~ label:after,#body .container-fluid .col-md-10 .first_row #nav_wrap ul .rating input:checked ~ label:after{
	opacity: 1;
}

/*Second Row!*/
#body .container-fluid .col-md-10 .second_row{
	margin-top: 5px;
	padding: 10px;
	background: #fff;
}

#body .container-fluid .col-md-10 .second_row #left-section{
	padding-left: 20px;
	padding-right: 20px;
}
#body .container-fluid .col-md-10 .second_row #right-section{
	padding-left: 20px;
	padding-right: 20px;
}
#body .container-fluid .col-md-10 .second_row #left-section a{
	text-decoration: none;
	outline: none;
	color: #000!important;
}
#body .container-fluid .col-md-10 .second_row #left-section .left_first_row, #body .container-fluid .col-md-10 .second_row #left-section .left_second_row, #body .container-fluid .col-md-10 .second_row #left-section .left_third_row,#body .container-fluid .col-md-10 .second_row #left-section .left_fourth_row, #body .container-fluid .col-md-10 .second_row #left-section .left_fith_row{
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-top: 20px;
}
#body .container-fluid .col-md-10 .second_row #left-section .left_fith_row{
	border-bottom: 0px solid rgba(0,0,0,0.1)!important;
}
#body .container-fluid .col-md-10 .second_row #left-section .left_first_row .row, #body .container-fluid .col-md-10 .second_row #left-section .left_second_row .row, #body .container-fluid .col-md-10 .second_row #left-section .left_third_row .row, #body .container-fluid .col-md-10 .second_row #left-section .left_fourth_row .row, #body .container-fluid .col-md-10 .second_row #left-section .left_fith_row .row{
	margin-bottom: 10px;
}

#body .container-fluid .col-md-10 .second_row #left-section .left_third_row h4,#body .container-fluid .col-md-10 .second_row #left-section .left_fourth_row h4, #body .container-fluid .col-md-10 .second_row #left-section .left_fith_row h4{
	font-weight: bold;
	margin-bottom: 15px;
	font-size: 16px;
}

#body .container-fluid .col-md-10 .second_row #right-section .right_first_row, #body .container-fluid .col-md-10 .second_row #right-section .right_second_row{
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-top: 20px;
}
#body .container-fluid .col-md-10 .second_row #right-section .right_second_row{
	border-bottom: 0px solid rgba(0,0,0,0.1)!important;
}
#body .container-fluid .col-md-10 .second_row #right-section .right_first_row h4,#body .container-fluid .col-md-10 .second_row #right-section .right_second_row h4{
	font-weight: bold;
	margin-bottom: 15px;
	font-size: 16px;
}
#body .container-fluid .col-md-10 .second_row #right-section .right_second_row #bg_group{
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
}
#body .container-fluid .col-md-10 .second_row #right-section .right_first_row p{
	text-align: justify;
}
#body .container-fluid .col-md-10 .second_row #right-section .right_second_row #bg_group .btn{
	color: #fff!important;
	background: #3a9bfa!important;
	margin-bottom: 5px;
}
/*Third Row!JOB Search Input!*/
#body .container-fluid .col-md-10 .third_row{
	margin-top: 5px;
	display: none;
}
#body .container-fluid .col-md-10 .third_row #job_form{
	width: 100%!important;
	padding: 20px;
	padding-right: 10px!important;
	padding-bottom: 20px!important;
}
#body .container-fluid .col-md-10 .third_row #job_form form input{
	width: 48%!important;
	float: left;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
	border: 0px!important;
	margin-left: 10px;
}
#body .container-fluid .col-md-10 .third_row #job_form form .btn{
	background: #3a9bfa;
	color: #fff;
	width: 20%;
	display: inline-block!important;
	margin-left: 10px;
}
#body .container-fluid .col-md-10 .third_row #job_form form #job_dropdown{
	width: 15%!important;
	background: rgba(0,0,0,0)!important;
	padding-left: 30px;
	float: left;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
	border: 0px!important;
}
/*Fourth Row!JOB Tab Section!*/
#body .container-fluid .col-md-10 .fourth_row{
	padding: 20px;
	background: #fff;
	padding-top: 30px;
	padding-left: 30px;
	display: none;
}
#body .container-fluid .col-md-10 .fourth_row a{
	text-decoration: none;
	outline: none;
	display: block;
	color: #000!important;
}
#body .container-fluid .col-md-10 .fourth_row a .col-md-4{
	padding: 10px;
	width: 32%;
	margin-right: 10px;
	border-radius: 8px;
	border: 1px solid rgba(0,0,0,0.3);
	margin-bottom: 10px;
}
#body .container-fluid .col-md-10 .fourth_row a .col-md-4:nth-child(3),#body .container-fluid .col-md-10 .fourth_row a .col-md-4:nth-child(6){
	margin-right: 0px!important;
}

#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-3 img{
	width: 60px;
	height: 60px;
	border-radius: 60px;
}
#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-9{
	padding: 0px!important;
}
#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-9 ul{
	list-style: none;
	margin-left: -12px;
}
#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-9 ul .position{
	font-weight: bold!important;
}
#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-9 ul li span, small{
	margin-left: 12px;
}
#body .container-fluid .col-md-10 .fourth_row .see-all-jobs{
	width: 180px!important;
	display: block!important;
	background: #3a9bfa!important;
	margin: 0 auto!important;
	color: #fff!important;
	margin-top: 15px!important;
}

/*Fith Row!House Search Input!*/
#body .container-fluid .col-md-10 .fith_row{
	margin-top: 5px;
	display: none;
}
#body .container-fluid .col-md-10 .fith_row #house_form{
	width: 100%!important;
	padding: 20px;
	padding-right: 10px!important;
	padding-bottom: 20px!important;
}
#body .container-fluid .col-md-10 .fith_row #house_form form input{
	width: 48%!important;
	float: left;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
	border: 0px!important;
	margin-left: 10px;
}
#body .container-fluid .col-md-10 .fith_row #house_form form .btn{
	background: #3a9bfa;
	color: #fff;
	width: 20%;
	display: inline-block!important;
	margin-left: 10px;
}
#body .container-fluid .col-md-10 .fith_row #house_form form #house_dropdown{
	width: 15%!important;
	background: rgba(0,0,0,0)!important;
	padding-left: 30px;
	float: left;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
	border: 0px!important;
}
/*House Tab Section!*/
#body .container-fluid .col-md-10 .sixth_row{
	margin-top: 10px;
	padding: 20px;
	padding-left: 25px!important;
	padding-top: 30px!important;
	background: #fff;
	display: none;
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3{
	margin-right: 5px;
	margin-bottom: 10px;
	width: 24%;
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3 a{
	text-decoration: none;
	outline: none;
	display: block;
	position: relative;
	z-index: 1000;
	color: #000!important;
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3 a #recent_item{
	width: 100%;
	padding: 0px 0px 20px 0px;
	margin:0 auto!important;
	border-radius: 5px;
	box-shadow: 2px 4px 8px rgba(0,0,0,0.3);
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3 a #recent_item img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border-bottom-left-radius: 0px!important;
	border-bottom-right-radius: 0px!important;
}

#body .container-fluid .col-md-10 .sixth_row .col-md-3 a #recent_item #recent_text_wrap{
	width: 92%;
	margin: 0 auto;
	margin-top: 15px;
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3 a #recent_item #recent_text_wrap h4{
	font-size: 14px;
	font-weight: bold;
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3 a #recent_item #recent_text_wrap small{
	color: #3a9bfa;
	margin: 0px!important;
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3 a #recent_item #recent_text_wrap span{
	display: block;
	margin-top: 10px;
	font-size: 14px;
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3 a #recent_item #recent_text_wrap i{
	font-size: 12px;
	margin-top: 15px;
	display: inline-block;
	margin-right: 6px;
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3 a #recent_item #recent_text_wrap i:last-child{
	margin-right: 0px!important;
}

#body .container-fluid .col-md-10 .sixth_row .see-all-houses{
	width: 180px!important;
	display: block!important;
	background: #3a9bfa!important;
	margin: 0 auto!important;
	color: #fff!important;
	margin-top: 15px!important;
}


/*Job Detail Section For View With Popup*/
/*First Row*/
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .first_row{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .first_row .col-md-12 img{
	width: 85px;
	height: 85px;
	float: left;
	margin-left: 20px;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .first_row .col-md-12 ul{
	list-style: none;
	float: left;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .first_row .col-md-12 ul li{
	margin-bottom: 5px;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .first_row .col-md-12 ul:last-child{
	list-style: none;
	float: right;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .first_row .col-md-12  ul:last-child li .job_type_btn{
	background-color: #3a9bfa!important;
	color: #fff!important;
	float: right;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .first_row .col-md-12  ul:last-child li form .apply_btn{
	background-color: #3a9bfa!important;
	color: #fff!important;
	text-decoration: none;
	outline: none;
	display: inline-block;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .first_row .col-md-12  ul:last-child li form .save_btn{
	background-color: #3a9bfa!important;
	color: #fff!important;
	text-decoration: none;
	outline: none;
	display: inline-block;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .first_row .col-md-12 small{
	display: inline-block!important;
	float: right;
	margin-bottom: 15px;
	margin-top: 5px;
}
/*Second Row*/
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .second_row{
	padding-top: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .second_row ul{
	list-style: none;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .second_row ul li:first-child{
	font-weight: bold;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .second_row ul li:last-child{
	margin-left: 30px;
	margin-top: 5px;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .second_row ul li i{
	margin-right: 7px;
	font-size: 18px;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .second_row .col-md-4{
	margin-bottom: 10px;
}
/*Third Row!*/
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .third_row{
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 15px;
	display: block;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .third_row h4{
	font-weight: bold;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .third_row p{
	font-size: 14px;
	margin-bottom: 15px;
}
/*Fourth Row*/
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .fourth_row{
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	display: block;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .fourth_row form input{
	margin-bottom: 10px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .fourth_row form span{
	float: left;
	display: inline-block;
	margin-top: 7px;
	margin-right: 5px;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .fourth_row form .cv{
	width: 33%!important;
	float: left;
}
/*Fith Row*/
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .fith_row{
	padding: 15px;
	padding-bottom: 0px;
	display: block;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .fith_row .btn{
	background-color: #3a9bfa!important;
	color: #fff!important;
	text-decoration: none;
	outline: none;
	display: inline-block;
}
#body .container-fluid .col-md-10 .fourth_row #myModal .modal-body .fith_row strong{
	font-size: 16px;
}


/*House Detail Modal Popup!*/
#body .container-fluid .col-md-10 .sixth_row .col-md-3 #myhouseModal .modal-body .row .col-md-6 .carousel-inner{
	padding: 0px!important;
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3 #myhouseModal .modal-body .row .col-md-6 .carousel-inner img{
	width: 100%;
	height: 300px;
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3 #myhouseModal .modal-body .row .col-md-6 .my-left{
	margin-left: 20px!important;
	opacity: 1!important;
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3 #myhouseModal .modal-body .row .col-md-6 .my-right{
	margin-right: 20px!important;
	opacity: 1!important;
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3 #myhouseModal .modal-body ul{
	list-style: none;
	padding: 0px!important;
	margin-bottom: 15px;
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3 #myhouseModal .modal-body ul li{
	display: inline-block;
	margin-right: 12px;
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3 #myhouseModal .modal-body ul li p{
	font-size: 14px;
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3 #myhouseModal .modal-body ul li i{
	font-size: 14px;
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3 #myhouseModal .modal-body h4{
	font-weight: bold;
}
#body .container-fluid .col-md-10 .sixth_row .col-md-3 #myhouseModal .modal-body .btn{
	margin-right: 10px;
	color: #fff!important;
}


/*Body Right Review Section! */
#body_right_service_section{
	padding: 0px;
	margin-top: 0px!important;
	display: none;
}
#body_right_service_section .col-md-12{
	padding: 0px!important;
}
#body_right_service_section .col-md-12 h5{
	font-weight: bold;
	margin: 0px!important;
	margin-top: 10px!important;
}
#body_right_service_section #service-body{
	background: #fff;
	padding: 20px!important;
	margin-top: 5px!important;
}
#body_right_service_section #service-body #service-box .col-md-9,#body_right_service_section #service-body #service-box .col-md-3{
	margin: 0px!important;
	padding: 0px!important;
}
#body_right_service_section #service-body #service-box .col-md-9 ul,#body_right_service_section #service-body #service-box .col-md-3 ul{
	list-style: none;
	margin: 0px!important;
	padding: 0px!important;
}
#body_right_service_section #service-body #service-box .col-md-9 ul{
	float: left;
	margin-left: 10px!important;
}
#body_right_service_section #service-body #service-box .col-md-9 ul li .fa-star{
	color: orange!important;
}
#body_right_service_section #service-body #service-box .col-md-3 ul{
	float: right;
}
#body_right_service_section #service-body #service-box .col-md-9 img{
	width: 80px;
	height: 80px;
	border-radius: 5px;
	float: left;
}
#body_right_service_section #service-body #service-box .col-md-9 a{
	text-decoration: none;
	color: #000!important;
}
#body_right_service_section #service-body #service-box #service-content{
	margin: 0px!important;
	padding: 0px!important;
	clear: both!important;
	margin-top: 15px!important;
	border-bottom: 1px solid rgba(0,0,0,0.1)!important;
	margin-bottom: 25px!important;
}


/*Body Right Photo Section! */
#body_right_photo_section{
	padding: 0px;
	margin-top: 0px!important;
	display: none;
}
#body_right_photo_section .col-md-12{
	padding: 0px!important;
}
#body_right_photo_section .col-md-12 h5{
	font-weight: bold;
	margin: 0px!important;
	margin-top: 10px!important;
}
#body_right_photo_section #photo-wrap{
	background: #fff;
	padding: 20px!important;
	margin-top: 5px!important;
}
#body_right_photo_section #photo-wrap .col-md-3{
	margin-top: 20px!important;
}
#body_right_photo_section #photo-wrap img{
	width: 100%;
	height: 200px;
}
#body_right_photo_section #photo-wrap .col-md-3 a span{
	color: #fff!important;
	display: block;
	text-align: center;
	text-decoration: none;
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 100;
	font-weight: bold;
}



/*Body Right Friend Section! */
#body_right_friend_section{
	padding: 0px;
	margin-top: 0px!important;
	display: none;
}
#body_right_friend_section .col-md-12{
	padding: 0px!important;
}
#body_right_friend_section .col-md-12 h5{
	font-weight: bold;
	margin: 0px!important;
	margin-top: 10px!important;
}
#body_right_friend_section #friend-wrap{
	background: #fff;
	padding: 20px!important;
	margin-top: 5px!important;
}
#body_right_friend_section #friend-wrap .col-md-4{
	border: 2px solid rgba(0,0,0,0.1);
	padding: 5px;
	border-radius: 10px;
	margin-left: 5px;
	width: 32.5%!important;
	margin-top: 10px!important;
}
#body_right_friend_section #friend-wrap .col-md-4 img{
	width: 60px;
	height: 60px;
	border-radius: 30px;
	float: left;
}
#body_right_friend_section #friend-wrap .col-md-4 ul{
	list-style: none;
	float: left!important;
	padding: 0px!important;
	padding-left: 8px!important;
}
#body_right_friend_section #friend-wrap .col-md-4 .add-friend-btn{
	float: right!important;
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(-8%,-50%);
}
#body_right_friend_section #friend-wrap .col-md-4 .add-friend-btn li .btn{
	padding: 5px!important;
}




/*Body Right Review Section! */
#body_right_review_section{
	padding: 0px;
	margin-top: 0px!important;
	display: none;
}
#body_right_review_section .col-md-12{
	padding: 0px!important;
}
#body_right_review_section .col-md-12 h5{
	font-weight: bold;
	margin: 0px!important;
	margin-top: 10px!important;
}
#body_right_review_section .col-md-9{
	background: #fff;
	padding: 20px;
	margin-top: 5px!important;
}



/*Verify Row*/
#body_right_review_section .col-md-9 #verify-row ul{
	float: left;
	list-style: none;
	padding: 0px!important;
	margin: 0px!important;
	margin-left: 20px!important;
	margin-top: 10px!important;
}
#body_right_review_section .col-md-9 #verify-row img{
	width: 80px;
	height: 80px;
	border-radius: 5px;
	float: left;
}
#body_right_review_section .col-md-9 #business-highlight .col-md-12{
	margin-top: 20px!important;
}
#body_right_review_section .col-md-9 #business-highlight .col-md-6{
	padding: 0px!important;
	margin-top: 15px!important;
	text-align: justify;
}
#body_right_review_section .col-md-9 #verify-row ul .verify{
	cursor: pointer;
}
#body_right_review_section .col-md-9 #verify-row ul #verifyBox .modal-body img{
	width: 100px!important;
	height: 100px!important;
	border-radius: 100%;
	margin: 0 auto!important;
	display: block!important;
}
#body_right_review_section .col-md-9 #verify-row ul #verifyBox .modal-body table{
	margin-top: 120px!important;
}

/*Write Review*/
#body_right_review_section #write-review .col-md-2,#body_right_review_section #write-review .col-md-8{
	text-align: center!important;
	padding: 0px!important;
	margin: 0px!important;
}
#body_right_review_section #write-review .col-md-2 img{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	margin: 0 auto!important;
}
#body_right_review_section #write-review .col-md-2 i{
	color: #3a9bfa!important;
	font-size: 25px!important;
	line-height: 50px!important;
}
#body_right_review_section #write-review .col-md-8 span{
	color: #ccc!important;
	line-height: 50px!important;
}
#body_right_review_section #write-review{
	cursor: pointer;
}
/*Stars!*/
#body_right_review_section #writeBox ul{
	padding: 0px!important;
	margin: 0px!important;
}
#body_right_review_section #writeBox ul li i:last-child{
	color: #000!important;
}
#body_right_review_section #writeBox ul li{
	display: inline-block!important;
}
#body_right_review_section #writeBox ul li i{
	color: #f2f2f2!important;
}
#body_right_review_section #writeBox ul .one-star i:nth-child(1){
	color: orange!important;
}
#body_right_review_section #writeBox ul .two-star i:nth-child(1),#body_right_review_section #writeBox ul .two-star i:nth-child(2){
	color: orange!important;
}
#body_right_review_section #writeBox ul .three-star i:nth-child(1),#body_right_review_section #writeBox ul .three-star i:nth-child(2),#body_right_review_section #writeBox ul .three-star i:nth-child(3){
	color: orange!important;
}
#body_right_review_section #writeBox ul .four-star i:nth-child(1),#body_right_review_section #writeBox ul .four-star i:nth-child(2),#body_right_review_section #writeBox ul .four-star i:nth-child(3),#body_right_review_section #writeBox ul .four-star i:nth-child(4){
	color: orange!important;
}
#body_right_review_section #writeBox ul .five-star i:nth-child(1),##body_right_review_section #writeBox ul .five-star i:nth-child(2),#body_right_review_section #writeBox ul .five-star i:nth-child(3),#body_right_review_section #writeBox ul .five-star i:nth-child(5){
	color: orange!important;
}
/*Form*/
#body_right_review_section #writeBox form{
	margin-top: 25px!important;
	margin-bottom: 25px!important;
}
#body_right_review_section #writeBox form textarea{
	margin-bottom: 25px!important;
}
#body_right_review_section #writeBox form label{
	cursor: pointer!important;
}
#body_right_review_section #writeBox form input[type="file"] {
    display: none;
    cursor: pointer!important;
}
/*Write Footer*/
#body_right_review_section #writeBox #write-footer{
	border: 1px solid rgba(0,0,0,0.1)!important;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	padding-right: 5px;
}
#body_right_review_section #writeBox #write-footer ul{
	list-style: none;
	margin: 0px!important;
}
#body_right_review_section #writeBox #write-footer ul li{
	display: inline-block;
	margin-right: 20px;
}
#body_right_review_section #writeBox #write-footer ul li a{
	color: #000!important;
	text-decoration: none;
	font-size: 12px!important;
}
#body_right_review_section #writeBox #write-footer ul:nth-child(2) li{
	margin-right: 5px!important;
}


/*First Row!*/
#body_right_review_section .col-md-9 #first-row{
	margin-top: 5px;
}
#body_right_review_section .col-md-9{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#body_right_review_section .col-md-9 .col-md-6 img{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	float: left;
}
#body_right_review_section .col-md-9 .col-md-6:first-child ul{
	list-style: none;
	float: left;
}
#body_right_review_section .col-md-9 .col-md-6:first-child ul li:first-child{
	font-weight: bold;
}
#body_right_review_section .col-md-9 .col-md-6:first-child  ul li:last-child span{
	display: block;
	margin-top: 8px;
	font-size: 10px!important;
}
#body_right_review_section .col-md-9 .col-md-6:last-child  ul{
	list-style: none;
	float: right;
}
/*Stars!*/
#body_right_review_section .col-md-9 #stars ul li{
	display: inline-block!important;
}
#body_right_review_section .col-md-9 #stars ul li i{
	color: #f2f2f2!important;
}
#body_right_review_section .col-md-9 #stars ul .one-star i:nth-child(1){
	color: orange!important;
}
#body_right_review_section .col-md-9 #stars ul .two-star i:nth-child(1),#body_right_review_section .col-md-9 #stars ul .two-star i:nth-child(2){
	color: orange!important;
}
#body_right_review_section .col-md-9 #stars ul .three-star i:nth-child(1),#body_right_review_section .col-md-9 #stars ul .three-star i:nth-child(2),#body_right_review_section .col-md-9 #stars ul .three-star i:nth-child(3){
	color: orange!important;
}
#body_right_review_section .col-md-9 #stars ul .four-star i:nth-child(1),#body_right_review_section .col-md-9 #stars ul .four-star i:nth-child(2),#body_right_review_section .col-md-9 #stars ul .four-star i:nth-child(3),#body_right_review_section .col-md-9 #stars ul .four-star i:nth-child(4){
	color: orange!important;
}
#body_right_review_section .col-md-9 #stars ul .five-star i:nth-child(1),#body_right_review_section .col-md-9 #stars ul .five-star i:nth-child(2),#body_right_review_section .col-md-9 #stars ul .five-star i:nth-child(3),#body_right_review_section .col-md-9 #stars ul .five-star i:nth-child(4),#body_right_review_section .col-md-9 #stars ul .five-star i:nth-child(5){
	color: orange!important;
}

/*Second Row!*/
#body_right_review_section .col-md-9 #second-row{
	padding: 20px;
	padding-top: 0px!important;
}
#body_right_review_section .col-md-9 #second-row img{
	width: 100%;
	height: 500px;
}

/*Review Footer*/
#body_right_review_section .col-md-9 #review-footer{
	border: 1px solid rgba(0,0,0,0.1)!important;
	padding: 10px!important;
}
#body_right_review_section .col-md-9 #review-footer ul{
	list-style: none;
	margin: 0px!important;
	padding: 0px!important;
}
#body_right_review_section .col-md-9 #review-footer ul li{
	display: inline-block;
	margin-right: 20px;
}
#body_right_review_section .col-md-9 #review-footer ul li a{
	color: #000!important;
	text-decoration: none;
	font-size: 12px!important;
}
#body_right_review_section .col-md-9 #review-footer ul:nth-child(2) li{
	margin: 0px!important;
}


/*Body Right Review Rating! */
#body_right_review_section #review-rating{
	width: 24%!important;
	background: #fff;
	margin-top: 5px!important;
	margin-left: 5px!important;
	margin-bottom: 15px!important;
}
#body_right_review_section #review-rating h6{
	font-weight: bold;
	margin-top: 20px;
}
#body_right_review_section #review-rating ul{
	padding: 0px!important;
	margin: 0px!important;
	list-style: none;
}
#body_right_review_section #review-rating ul li{
	margin-bottom: 10px;
}
#body_right_review_section #review-rating ul li strong{
	width: 140px;
	background: skyblue;
	display: inline-block;
	border-radius: 2px;
	color: #fff!important;
	font-size: 10px;
	padding: 2px;
	margin-right: 10px;
	padding-left: 6px;
}
#body_right_review_section #review-rating ul li:nth-child(2) strong{
	width: 100px!important;
}
#body_right_review_section #review-rating ul li:nth-child(3) strong{
	width: 80px!important;
}
#body_right_review_section #review-rating ul li:nth-child(4) strong{
	width: 60px!important;
}
#body_right_review_section #review-rating ul li:nth-child(5) strong{
	width: 50px!important;
}

#body_right_review_section #review-rating #review-vote li{
	font-size: 12px!important;
}





/* Media Queries!!! */
@media screen and (max-width: 1228px){

	/* Navigation CSS! */
	nav #language_toggle_select{
		margin-left: 0px!important;
	}

	/*Third Row!JOB Search Input!*/
	#body .container-fluid .col-md-10 .third_row #job_form form input{
		width: 48%!important;
	}
	#body .container-fluid .col-md-10 .third_row #job_form form .btn{
		width: 20%;
	}
	#body .container-fluid .col-md-10 .third_row #job_form form #job_dropdown{
		width: 24%!important;
	}
	/*Fourth Row!JOB Tab Section!*/
	#body .container-fluid .col-md-10 .fourth_row a .col-md-4{
		width: 100%;
	}
	#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-3 img{
		width: 50px;
		height: 50px;
		border-radius: 50px;
		float: left;
	}
	#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-9 ul{
		width: 80%;
		float: right;
	}

	/*Fith Row!House Search Input!*/
	#body .container-fluid .col-md-10 .fith_row #house_form form input{
		width: 48%!important;
	}
	#body .container-fluid .col-md-10 .fith_row #house_form form .btn{
		width: 20%;
	}
	#body .container-fluid .col-md-10 .fith_row #house_form form #house_dropdown{
		width: 24%!important;
	}
	/*House Tab Section!*/
	#body .container-fluid .col-md-10 .sixth_row .col-md-3{
		width: 100%;
	}

}


@media screen and (max-width: 499px){

	/* Navigation CSS! */
	nav #language_toggle_select{
		margin-left: 0px!important;
	}

	/* Body Section CSS */
	#body .container-fluid #fix_position{
		margin-top: 50px;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
		padding-bottom: 5px;
		margin-left: -15px;
		z-index: 1000;
	}
	#body .container-fluid .col-md-10{
		width: 93%;
		margin-top: 55px;
	}
	/*Body Sidebar*/
	#body #sidebar_wrap:first-child{
		display: none!important;
	}
	#body #sidebar_wrap{
		padding: 0px;
		border-bottom: 0px solid rgba(0,0,0,0.1)!important;
	}
	#body #sidebar_wrap ul{
		margin: 0px!important;
		padding: 0px!important;
	}
	#body #sidebar_wrap ul li span{
		display: none!important;
	}
	#body #sidebar_wrap ul li strong{
		display: none!important;
	}
	#body #sidebar_wrap ul li .fa-home{
		display: block!important;
	}

	/*Cover Wrap*/
	#body .container-fluid .col-md-10 .first_row #cover{
		height: 200px;
	}
	/* Nav Wrap */
	#body .container-fluid .col-md-10 .first_row #nav_wrap ul a{
		font-size: 10px!important;
	}
	#body .container-fluid .col-md-10 .first_row #nav_wrap ul li i{
		font-size: 12px!important;
	}

	#body .container-fluid .col-md-10 .second_row #left-section strong, #body .container-fluid .col-md-10 .second_row #right-section strong{
		margin-bottom: 10px;
		display: block;
	}
	#body .container-fluid .col-md-10 .second_row #left-section span, #body .container-fluid .col-md-10 .second_row #right-section span{
		margin-bottom: 15px;
		display: block;
	}
	#body .container-fluid .col-md-10 .second_row #left-section a, #body .container-fluid .col-md-10 .second_row #right-section a{
		margin-bottom: 15px;
		display: block;
	}

	/*Third Row!JOB Search Input!*/
	#body .container-fluid .col-md-10 .third_row #job_form{
		padding: 0px!important;
		padding-top: 10px!important;
		padding-bottom: 10px!important;
	}
	#body .container-fluid .col-md-10 .third_row #job_form form input{
		width: 30%!important;
		font-size: 12px!important;
	}
	#body .container-fluid .col-md-10 .third_row #job_form form .btn{
		width: 22%;
		font-size: 12px!important;
	}
	#body .container-fluid .col-md-10 .third_row #job_form form #job_dropdown{
		width: 25%!important;
		font-size: 12px!important;
	}
	/*Fourth Row!JOB Tab Section!*/
	#body .container-fluid .col-md-10 .fourth_row a .col-md-4{
		width: 100%;
	}
	#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-3 img{
		width: 50px;
		height: 50px;
		border-radius: 50px;
		float: left;
	}
	#body .container-fluid .col-md-10 .fourth_row a .col-md-4 .col-md-9 ul{
		width: 70%!important;
		float: right;
	}

	/*Third Row!JOB Search Input!*/
	#body .container-fluid .col-md-10 .fith_row #house_form{
		padding: 0px!important;
		padding-top: 10px!important;
		padding-bottom: 10px!important;
	}
	#body .container-fluid .col-md-10 .fith_row #house_form form input{
		width: 30%!important;
		font-size: 12px!important;
	}
	#body .container-fluid .col-md-10 .fith_row #house_form form .btn{
		width: 22%;
		font-size: 12px!important;
	}
	#body .container-fluid .col-md-10 .fith_row #house_form form #house_dropdown{
		width: 25%!important;
		font-size: 12px!important;
	}
	/*House Tab Section!*/
	#body .container-fluid .col-md-10 .sixth_row .col-md-3{
		width: 100%;
	}

	#body .container-fluid .col-md-10 .sixth_row .col-md-3 #myhouseModal .modal-body .schedule .col-md-6{
		margin-bottom: 120px;
	}

}