/* Mobile View CSS Style (998px) */



/* Header Form Style */
#header{
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/mobile_size_main_home_header.png") no-repeat!important;
	height: 100vh!important;
}
#header_wrap{
	width: 80%;
	position: absolute;
	top: 50%!important;
	left: 50%!important;
	transform: translate(-50%,-50%)!important;
	-webkit-transform: translate(-50%,-50%)!important;
	-ms-transform: translate(-50%,-50%)!important;
	-moz-transform: translate(-50%,-50%)!important;
	-o-transform: translate(-50%,-50%)!important;
}
#header_wrap #form_jobs{
	width: 90%!important;
	height: 420px!important;
	padding: 0px 12px 0px 25px;
	margin-left: 20px!important;
}
#header_wrap #form_place{
	width: 90%!important;
	height: 420px!important;
	padding: 0px 12px 0px 25px;
	margin-left: 20px!important;
}
#header_wrap #form_flatmate{
	width: 90%!important;
	height: 420px!important;
	padding: 0px 12px 0px 25px;
	margin-left: 20px!important;
}




/* Body Section CSS Style! */
/*Add CSS*/