/* Tablet CSS (1228px) */

/* Header Form Style */
#header{
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/tablet_size_house_home_header.png") no-repeat;
	height: 100vh!important;
}
#header_wrap{
	width: 100%!important;
	position: absolute;
	top: 50%!important;
	left: 50%!important;
	transform: translate(-50%,-50%)!important;
	-webkit-transform: translate(-50%,-50%)!important;
	-ms-transform: translate(-50%,-50%)!important;
	-moz-transform: translate(-50%,-50%)!important;
	-o-transform: translate(-50%,-50%)!important;
}

#header_wrap #form_jobs{
	width: 95%!important;
	height: 400px!important;
	padding: 0px 0px 0px 0px;
	margin-left: 0px!important;
	margin: 0 auto!important;
}
#header_wrap #form_place{
	width: 95%!important;
	height: 400px!important;
	padding: 0px 0px 0px 0px;
	margin-left: 0px!important;
	margin: 0 auto!important;
}
#header_wrap #form_flatmate{
	width: 95%!important;
	height: 400px!important;
	padding: 0px 0px 0px 0px;
	margin-left: 0px!important;
	margin: 0 auto!important;
}

/*Jobs*/
#header #form_jobs form input, form select{
	width: 100%!important;
	height: 32px!important;
	float: left;
	margin-bottom: 5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
	border: 0px!important;
}
#header #form_jobs form{
	width: 85%;
}
#header #form_jobs form #form_input_second_row{
	margin-top: 0px!important;
}
#header #form_jobs form #form_input_third_row{
	margin-top: 0px!important;
}
#header #form_jobs form #form_input_third_row .btn{
	width: 100%!important;
}

/*Place*/
#header #form_place form input, form select{
	width: 100%!important;
	height: 32px!important;
	float: left;
	margin-bottom: 5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
	border: 0px!important;
}
#header #form_place form{
	width: 85%;
}
#header #form_place form #form_input_second_row{
	margin-top: 0px!important;
}
#header #form_place form #form_input_third_row{
	margin-top: 0px!important;
}
#header #form_place form #form_input_third_row .btn{
	width: 100%!important;
}

/*Flatmate*/
#header #form_flatmate form input, form select{
	width: 100%!important;
	height: 32px!important;
	float: left;
	margin-bottom: 5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0)!important;
	border: 0px!important;
}
#header #form_flatmate form{
	width: 85%;
}
#header #form_flatmate form #form_input_second_row{
	margin-top: 0px!important;
}
#header #form_flatmate form #form_input_third_row{
	margin-top: 0px!important;
}
#header #form_flatmate form #form_input_third_row .btn{
	width: 100%!important;
}


/* Body Section CSS Style! */
/* Add CSS */
#body .container #panel_wrap #how_jobs_panel_place{
	width: 380px!important;
	height: 300px!important;
	margin: 0 auto;
}
#body .container #panel_wrap #how_jobs_panel_jobs{
	width: 380px!important;
	height: 300px!important;
	margin: 0 auto;
}
#body .container #panel_wrap #how_jobs_panel_flatmate{
	width: 380px!important;
	height: 300px!important;
	margin: 0 auto;
}
#body .container #panel_wrap a img{
	width: 380px!important;
	height: 300px!important;
}

#body .container #body_text_wrap h4{
	margin-bottom: 20px;
	font-size: 18px;
}
#body .container #body_text_wrap p{
	text-align: justify;
	margin-bottom: 30px;
}
#body .container #body_text_wrap .btn{
	/*display: block;*/
	margin-top: 20px!important;
	/*margin: 0 auto!important;*/
}
#body .container #body_text_wrap #pull-right{
	/*float: none!important;*/
}
#body .container #body_text_wrap #text-right{
	/*text-align: left!important;*/
}