/* Tablet CSS (1028px) */

#header{
	height: 100vh;
	margin-top: 0px!important;
}

/* Header Form Style */
#header_wrap{
	width: 100%;
	position: absolute;
	top: 55%;
	left: 50%!important;
	transform: translate(-50%,-50%)!important;
	-webkit-transform: translate(-50%,-50%)!important;
	-ms-transform: translate(-50%,-50%)!important;
	-moz-transform: translate(-50%,-50%)!important;
	-o-transform: translate(-50%,-50%)!important;
}
#header_wrap form .row{
	margin-bottom: 0px;
}
/*Form Tabs*/
#header #header_wrap h3{
	margin-bottom: 15px;
	margin-left: 50px;
}
#header_wrap #header_form_wrap ul{
	margin-left: 8px;
}
/*Form Place*/
#header_wrap #form_one{
	width: 90%;
	height: 150px;
	padding: 0px 0px 0px 0px;
	margin-left: 0px;
	margin: 0 auto;
}
#header #form_one form input, #header #form_one form select{
	width: 100%!important;
	margin-bottom: 10px;
}
#header #form_one form{
	width: 85%;
}
#header #form_one form .btn{
	width: 100%!important;
}
/*Form Job*/
#header_wrap #form_two{
	width: 90%;
	height: 150px;
	padding: 0px 0px 0px 0px;
	margin-left: 0px;
	margin: 0 auto;
}
#header #form_two form input, form select{
	width: 100%!important;
	margin-bottom: 10px;
}
#header #form_two form{
	width: 85%;
}
#header #form_two form .btn{
	width: 100%!important;
}
/*Form Flatmate*/
#header_wrap #form_three{
	width: 90%;
	height: 150px;
	padding: 0px 0px 0px 0px;
	margin-left: 0px;
	margin: 0 auto;
}
#header #form_three form input, form select{
	width: 100%!important;
	margin-bottom: 10px;
}
#header #form_three form{
	width: 85%;
}
#header #form_three form .btn{
	width: 100%!important;
}


/* Recant Property */
#recent_property .row .col-md-3 a #recent_item{
	width: 85%;
	margin-bottom: 20px!important;
	padding: 0px 0px 25px 0px;
}
#recent_property .row .col-md-3 a #recent_item #recent_text_wrap{
	width: 85%;
	margin: 0 auto;
	margin-top: 15px;
}
#recent_property .row .col-md-3 a #recent_item #recent_text_wrap h4{
	margin-top: 25px!important;
}

#recent_property .row .col-md-3 #myModal .modal-body .schedule .col-md-6{
	height: 380px;
}



/* Body Section CSS Style! */
#body{
	width: 100%;
	margin-bottom: 30px;
}
#body .row{
	margin-top: 30px;
}
#body .row h3{
	font-size: 22px;
	margin-bottom: 40px;
}
#body h3::before{
	width: 60px;
	height: 1px;
	margin-top: 25px;
}
#body .container #body_img_wrap{
	display: none;
}

#body .container #body_text_wrap h4{
	margin-bottom: 20px;
	font-size: 18px;
}
#body .container #body_text_wrap p{
	text-align: justify;
	margin-bottom: 30px;
}
#body .container #body_text_wrap .btn{
	display: block;
	margin-top: 20px;
	margin: 0 auto;
}
#body .container #body_text_wrap #pull-right{
	float: none!important;
}
#body .container #body_text_wrap #text-right{
	text-align: left!important;
}