/* Mobile View CSS Style (600px) */


/* Header Form Style */
#header{
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/mobile_size_main_home_header.png") no-repeat!important;
	height: 100vh!important;
}
#header_wrap{
	width: 80%;
	position: absolute;
	top: 55%!important;
	left: 50%!important;
	transform: translate(-50%,-50%)!important;
	-webkit-transform: translate(-50%,-50%)!important;
	-ms-transform: translate(-50%,-50%)!important;
	-moz-transform: translate(-50%,-50%)!important;
	-o-transform: translate(-50%,-50%)!important;
}


/* Body Section CSS Style! */
#body .row:last-child{
	margin-top: 50px!important;
}

/* Download App CSS Style */
#download_app{
	height: 55vh!important;
	background-image: url('../../images/mobile_size_download_app.png')!important;
}