/* Tablet CSS (1228px) */

/* Header Form Style */
#header{
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/tablet_size_main_home_header.png") no-repeat;
	height: 100vh!important;
}
#header_wrap{
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%!important;
	transform: translate(-50%,-50%)!important;
	-webkit-transform: translate(-50%,-50%)!important;
	-ms-transform: translate(-50%,-50%)!important;
	-moz-transform: translate(-50%,-50%)!important;
	-o-transform: translate(-50%,-50%)!important;
}

/* Body Section CSS Style! */
/* Add CSS */
#body .row:last-child{
	margin-top: 50px!important;
}

#body .container #panel_wrap #how_works_panel_place, #how_jobs_panel_place, #how_page_panel_place{
	width: 380px!important;
	height: 300px!important;
	margin: 0 auto;
}
#body .container #panel_wrap #how_works_panel_jobs, #how_jobs_panel_jobs, #how_page_panel_jobs{
	width: 380px!important;
	height: 300px!important;
	margin: 0 auto;
}
#body .container #panel_wrap #how_works_panel_flatmate, #how_jobs_panel_flatmate, #how_page_panel_flatmate{
	width: 380px!important;
	height: 300px!important;
	margin: 0 auto;
}
#body .container #panel_wrap a img{
	width: 380px!important;
	height: 300px!important;
}

#body .container #body_text_wrap h4{
	margin-bottom: 20px;
	font-size: 18px;
}
#body .container #body_text_wrap p{
	text-align: justify;
	margin-bottom: 30px;
}
#body .container #body_text_wrap .btn{
	/*display: block;*/
	margin-top: 20px!important;
	/*margin: 0 auto!important;*/
}
#body .container #body_text_wrap #pull-right{
	/*float: none!important;*/
}
#body .container #body_text_wrap #text-right{
	/*text-align: left!important;*/
}



